---
import DocsCollectionButton from "../../components/DocsCollection/DocsCollectionButton.astro";
import Layout from "../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col min-h-96">
			<h2 class="text-center">With The Ranks Documentation</h2>
			<DocsCollectionButton
				id="spoke-texting"
				text="Spoke Texting"
				link="/docs/spoke"
			/>
		</div>
	</main>
</Layout>
