<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <div>
          <p class="text-4xl tracking-tight font-medium md:text-5xl font-display">
            Robust Data Security
          </p>
          <p class="text-base mt-4">
            Spoke ensures the highest level of data security, protecting your sensitive information and communication. With multilayered encryption and rigorous privacy controls, you can trust that your data is secure while your team focuses on mobilizing your supporters.
          </p>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border border-gray-200">
        <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img
            alt="Spoke Dashboard"
            class="border border-gray-200 lg:rounded-3xl object-cover rounded shadow-2xl"
            src="https://brightlight.lexingtonthemes.com/assets/dashboard.svg"
          />
        </div>
      </div>
    </div>
    <div class="mt-24 w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3">
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="shield outline" class="hydrated md h-5 w-5" name="shield-checkmark-outline" role="img"></ion-icon>
          </div>
          <p class="mt-8 text-lg font-semibold leading-6 font-display">
            Developer-Friendly Tools
          </p>
        </div>
        <p class="text-sm mt-4">
          Spoke is built with developers in mind. Its flexible architecture and API integration options make it easy for teams to customize and optimize for their specific needs.
        </p>
      </div>
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="settings outline" class="hydrated md h-5 w-5" name="settings-outline" role="img"></ion-icon>
          </div>
          <p class="mt-8 text-lg font-semibold leading-6 font-display">
            Designer-Friendly Interface
          </p>
        </div>
        <p class="text-sm mt-4">
          The intuitive and modern user interface ensures that campaign organizers and volunteers alike can navigate and use the platform with ease.
        </p>
      </div>
      <div>
        <div class="gap-3 lg:inline-flex lg:items-center">
          <div class="items-center justify-center bg-gray-100 rounded-xl flex h-10 w-10">
            <ion-icon aria-label="rocket outline" class="hydrated md h-5 w-5" name="rocket-outline" role="img"></ion-icon>
          </div>
          <p class="mt-8 text-lg font-semibold leading-6 font-display">
            Effortless Onboarding
          </p>
        </div>
        <p class="text-sm mt-4">
          Getting started with Spoke is simple. Whether you're a grassroots organization or a national campaign, our platform is built to scale with you from day one.
        </p>
      </div>
    </div>
  </div>
</section>
