---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Request Texts</h2>

			<p>
				If you are a
				<a
					href="https://docs.spokerewired.com/article/6-user-roles"
					target="_blank">texter</a
				>, you can request a texting assignment to start having
				conversations with contacts. These could be volunteers,
				supporters, voters – it depends on the campaign!
			</p><h5><em>To request a texting assignment:</em></h5><ol>
				<li>
					Open the texter <a
						href="https://docs.spokerewired.com/article/52-dashboards"
						>dashboard</a
					>.
				</li>
				<li>
					In the <strong>Count</strong> field, specify the number of conversations
					you want to be assigned to you. If there are no unassigned conversations,
					a message will be displayed.
				</li>
				<li>Click <strong>Request More Texts</strong>.</li>
			</ol><p style="text-align: center;">
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5f6ba3cb52faff00174f2896/file-lPs3SGl21v.png"
				/>
			</p>
		</div>
	</main>
</Layout>
