---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Update Texter Profile</h2>

			<p>
				A texter can update their name, email address, and password from
				the user profile page.
			</p><p>First, open the dropdown user menu:</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5f2c5ed104286342d763e0bd/file-n1F5Xf81gf.png"
					style="width: 358px; display: block; margin: auto;"
					alt=""
				/>
			</p><p>Second, click the user information:</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5f2c5f5004286342d763e0c5/file-Hls1K32t0V.png"
					style="width: 447px; display: block; margin: auto;"
					alt=""
				/>
			</p><p>Finally, make the desired user profile changes:</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5f2c5fa304286342d763e0c9/file-R1gkIzKZLT.png"
					style="width: 792px; display: block; margin: auto;"
					alt=""
				/>
			</p>
		</div>
	</main>
</Layout>
