/* Global CSS Styles

Styles that should apply everywhere should go here.

Component styles should be inined directly on the component.

Right now we're not using any preprocessors, just CSS variables, but Tailwind is available and nesting is enabled through Astro.

*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
    /* to use in rgba functions later */
    --main-bg-color: #252753;
    --main-text-color: #bfd5ff;

    /* Change these to change colors throughout the site */
    --stop-one-color: #00d75a;
    --stop-two-color: #470cec;

    /* Dark theme gradient colors */
    --gradient-dark-start: rgba(var(--main-bg-rgb), 1);
    --gradient-dark-end: #0D003E;

    /* Light theme variables */
    --light-bg-rgb: 255, 255, 255;
    --light-bg-color: rgb(var(--light-bg-rgb));
    --light-text-color: #070218;

    /* Light theme gradient colors */
    --gradient-light-start: rgba(233, 230, 255, 0);
    /* Gentle peach/pink */
    --gradient-light-end: rgba(233, 230, 255, 1);

    --icon-stroke-color: #FFF;

    scroll-behavior: smooth;
    /* Soft blue */

    /* Various color combos */
    /* --stop-one-color: #1a0b49;
    --stop-two-color: #10bd6f; */

    /* --stop-one-color: #d000ad;
    --stop-two-color: #d77d00; */

    /* --stop-one-color: #2af08a;
    --stop-two-color: #0068d7; */

    /* --stop-one-color: #6f40ef;
    --stop-two-color: #d79a00; */
}

[data-theme="light"] {
    --main-bg-color: var(--light-bg-color);
    --main-bg-rgb: var(--light-bg-rgb);
    --main-text-color: var(--light-text-color);
    --gradient-dark-start: var(--gradient-light-start);
    --gradient-dark-end: var(--gradient-light-end);
    --icon-stroke-color: #232656;
}

[data-theme="light"] #color_picker label {
    color: #bfd5ff;
}

[data-theme="light"] header::after {
    background: linear-gradient(rgba(var(--light-bg-rgb), 0),
            rgba(var(--light-bg-rgb), 1) 100%);
}

[data-theme="light"] .button {
    color: #bfd5ff;
}

[data-theme="light"] header a {
    color: #232656;
}

[data-theme="dark"] header a {
    color: #fff;
}

[data-theme="dark"] .dark-logo {
    display: none;
}

[data-theme="light"] .light-logo {
    display: none;
}

[data-theme="light"] a:hover {
    color: #470cec;
}

[data-theme="dark"] header a:hover {
    color: #FFE872;
}


/* Fonts */
/* Crimson Text */
@font-face {
    font-family: 'Crimson Text';
    src: url('/fonts/crimson-text/CrimsonText-Bold.woff') format('woff'),
        url('/fonts/crimson-text/CrimsonText-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('/fonts/crimson-text/CrimsonText-Italic.woff') format('woff'),
        url('/fonts/crimson-text/CrimsonText-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('/fonts/crimson-text/CrimsonText-BoldItalic.woff') format('woff'),
        url('/fonts/crimson-text/CrimsonText-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson Text';
    src: url('/fonts/crimson-text/CrimsonText-SemiBold.woff') format('woff'),
        url('/fonts/crimson-text/CrimsonText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Bold.woff') format('woff'),
        url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-ExtraBold.woff') format('woff'),
        url('/fonts/poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Italic.woff') format('woff'),
        url('/fonts/poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-ExtraLight.woff') format('woff'),
        url('/fonts/poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-BlackItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Black.woff') format('woff'),
        url('/fonts/poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-ExtraLightItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-BoldItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-SemiBold.woff') format('woff'),
        url('/fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Medium.woff') format('woff'),
        url('/fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Thin.woff') format('woff'),
        url('/fonts/poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Regular.woff') format('woff'),
        url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-LightItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-Light.woff') format('woff'),
        url('/fonts/poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-SemiBoldItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-MediumItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins/Poppins-ThinItalic.woff') format('woff'),
        url('/fonts/poppins/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: 'Poppins', sans-serif;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25;
    font-weight: 700;
    margin-bottom: 2rem;
    font-weight: 800;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
    font-family: 'Crimson Text', serif;

}


article ul {
    list-style: disc;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

article li {
    font-family: 'Crimson Text', serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

@media (max-width: 768px) {
    article h2 {
        font-size: 1.8rem;
        line-height: 2.0rem;
    }

    article h3 {
        font-size: 1.5em;
        line-height: 1.8rem;
    }

    article p, article li {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

a {
    text-decoration: underline;
    /*text-decoration-color: var(--stop-two-color);*/
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 0.25rem;
    text-decoration-skip-ink: none;
    font-weight: 700;

    &:hover {
        /*text-decoration-thickness: 1.8rem;
        text-underline-offset: -1.375rem;*/
    }
}

main a {
    font-family: 'Crimson Text', serif;
}

main a.btn {
    font-family: 'Poppins', sans-serif;
}

/* Nav */
/* TODO: move to component */
nav {
    color: var(--main-text-color);

    ul {
        position: relative;
        padding-left: 1.25rem;
        font-size: 1.25rem;
    }

    ul:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 0px;
        height: 0px;
        bottom: 0.5rem;
        border-style: solid;
        border-width: 0.6rem 0.8rem 0px 0;
        border-color: transparent var(--stop-two-color) transparent transparent;
        transform: rotate(0deg);
    }

    a {
        text-underline-offset: -1.5rem;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-decoration-thickness: 2px;
        text-decoration-color: rgba(0, 0, 0, 0);
        opacity: 1;

        transition: 0.125s;
        padding: 1rem 0;

        font-weight: 600;

        text-transform: uppercase;

        &:hover {
            opacity: 1;
            text-decoration-thickness: unset;
            text-underline-offset: -1.5rem;
            color: var(--stop-two-color);
        }
    }

    li {
        display: inline-block;
        margin-right: 1rem;
    }
}

.on-this-page a, h3 {
    font-family: 'Poppins', sans-serif;
}

.hero-tag {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

/* Theme Toggle */
.sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    background: black url('/assets/sun.svg') no-repeat center;
    background-size: cover;

}

.moon {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 1rem;
    height: 1rem;
    background: white url('/assets/moon.svg') no-repeat center;
    background-size: cover;

}

/* Debug */
.debug {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 100;
    background-color: rgba(0, 0, 0, .8);
    padding: 1rem;
    border-radius: 100px;
    align-items: center;
    font-weight: 700;

    label {
        margin-right: 1rem;
    }
}
@layer base {
  :root {
        --radius: 0.5rem;
    }
}