---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Campaign Colors And Tags</h2>

			<p>
				The campaign list on the administration <a
					href="https://docs.spokerewired.com/article/52-dashboards"
					target="_blank">dashboard</a
				> uses colors and tags to help you keep track of your active campaigns.
				The colors and tags are automatically applied to the campaigns based
				on their state.
			</p><h2>Color Coding</h2><p>
				Active campaigns in the campaign list are categorized by the
				color of their titles. They are color-coded as follows:
			</p><ul>
				<li>
					<strong>Orange</strong> -- The campaign has not been started,
					or it has unassigned contacts.
				</li>
				<li>
					<strong>Blue</strong> -- The campaign has been started but not
					all initial messages have been sent.
				</li>
				<li>
					<strong>Green</strong> -- The campaign has been started and all
					initial messages have been sent.
				</li>
			</ul><h2>Tags</h2><p>
				Active campaigns in the campaign list can have one or more of
				the following tags:
			</p><ul>
				<li>
					<strong>Unassigned Contacts</strong> -- Some contacts have not
					been assigned to texters.
				</li>
				<li>
					<strong>Unsent Initial Messages</strong> -- Some contacts have
					not received an initial text.
				</li>
				<li>
					<strong>Unhandled Replies</strong> -- Some contacts have not
					received a reply from a texter.
				</li>
				<li>
					<strong>Autoassign Eligible</strong> -- The campaign has auto-assignment
					mode enabled.
				</li>
			</ul>
		</div>
	</main>
</Layout>
