---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Change User Roles</h2>

			<p>
				User roles can be changed from the
				<strong>People</strong> page of the administration&nbsp;dashboard.
				After you <a
					href="https://docs.spokerewired.com/article/65-invite-texters-to-spoke"
					target="_blank">invite texters</a
				> to join your Spoke organization and they create an account, they
				will automatically be listed with the default <strong
					>Texter</strong
				> role.
			</p><h5><em>To change a user's role:</em></h5><ol>
				<li>
					Navigate to the <strong>People</strong>page within
					the&nbsp;administration <a href="" target="_blank"
						>dashboard</a
					>.
				</li>
				<li>Click "Texter" to reveal a dropdown menu of roles.</li>
				<li>
					Select a new role. For more information about the different
					user roles, see <a
						href="https://docs.spokerewired.com/article/6-user-roles"
						target="_blank">user roles</a
					>.
				</li>
			</ol>
		</div>
	</main>
</Layout>
