---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Copy A Campaign</h2>

			<p>
				You can copy an existing campaign as a way to create a new
				campaign with the same or a similar
				<a
					href="https://docs.spokerewired.com/article/38-interaction-scripts"
					target="_blank">interaction script</a
				>. This is often the faster and easier way to create a new
				campaign.
			</p><h5>
				<em>To copy a campaign:</em>
			</h5><p>
				1. Select the campaign you wish to copy from the
				<strong>Campaigns</strong>&nbsp;page of the administration <a
					href="https://docs.spokerewired.com/article/52-dashboards"
					target="_blank">dashboard</a
				>.
			</p><p>
				2. Click the&nbsp;
				<strong>Copy Campaign</strong>button. You should see a pop-up
				message stating that the campaign successfully copied.
			</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/600731becfe30d219ccd950b/file-VCiSnprHnm.png"
					alt=""
					style="display: block; margin: auto;"
				/>
			</p><p>
				Your copied campaign will then appear at the bottom of your
				<strong>Campaigns</strong>page with the word "COPY" at the start
				of the campaign title.
			</p>
		</div>
	</main>
</Layout>
