---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Dashboards</h2>

			<p>
				Dashboards are the primary interfaces that administrators and
				texters use to navigate Spoke.
			</p><h2>Administration Dashboard</h2><p>
				The administration dashboard lets you manage your Spoke <a
					href="https://docs.spokerewired.com/article/79-organizations"
					>organization</a
				>. From the administration dashboard, you can access the
				following pages:
			</p><ul>
				<li>
					<strong>Campaigns:</strong>a list of active campaign. Where
					you can <a
						href="https://docs.spokerewired.com/article/34-create-a-campaign"
						target="_blank">create</a
					> new campaigns, view campaigns <a
						href="https://docs.spokerewired.com/article/57-colors-and-tags-for-active-campaigns"
						target="_blank">statuses</a
					>, and take campaign <a
						href="https://docs.spokerewired.com/article/59-campaign-actions"
						target="_blank">actions</a
					>.
				</li>
				<li>
					<strong>Template Campaigns:</strong> a list of template campaigns.
					Where you can <a
						href="https://docs.spokerewired.com/article/164-template-campaigns"
						target="_blank">create and edit template campaigns</a
					>.
				</li>
				<li>
					<strong>People:</strong>a list of Spoke users. Where you can <a
						href="https://docs.spokerewired.com/category/42-administering-spoke"
						target="_blank">invite</a
					> users to Spoke and <a
						href="https://docs.spokerewired.com/article/35-change-user-roles"
						target="_blank">change</a
					> user roles.
				</li>
				<li>
					<strong>Teams:</strong> a list of texter teams. Where you can
					<a
						href="https://docs.spokerewired.com/article/49-create-a-team"
						target="_blank">create</a
					> and edit teams.
				</li>
				<li>
					<strong>Assignment Control:</strong>
					<a
						href="https://docs.spokerewired.com/article/66-manage-assignment-control"
						target="_blank">control panel</a
					> for the request form. Where you can distribute texting assignments
					to texters.
				</li>
				<li>
					<strong>Tags:</strong>a list of <a
						href="https://docs.spokerewired.com/article/67-conversation-tags"
						target="_blank">conversation tags</a
					>. Where you can add new tags and edit existing tags.
				</li><li>
					<strong>Opt Outs:</strong>Where you can&nbsp;import or
					export opt outs or import opt ins.
				</li>
				<li>
					<strong>Message Review:</strong> conversation filtering and assignment
					interface. Where you can filter conversations to find specific
					messages or analyze campaigns; where you can bulk <a
						href="https://docs.spokerewired.com/article/63-reassign-conversations-to-texters"
						target="_blank">reassign</a
					> or unassign conversations.
				</li>
				<li>
					<strong>Escalated Convos:</strong>workflow of escalated
					conversations. Where you can review escalated messages.
				</li>
				<li>
					<strong>Bulk Script Editor:</strong>&nbsp;Find-and-replace
					tool. Where you can make <a
						href="https://docs.spokerewired.com/article/69-bulk-script-editor"
						target="_blank">bulk script edits</a
					> across multiple campaigns.
				</li>
				<li>
					<strong>Assignment Requests:</strong>Queue of pending texter
					assignment requests. Where you can manually approve
					assignment requests from texters (only relevant if you're <em
						>not</em
					>&nbsp;using auto-assign)
				</li>
				<li>
					<strong>Integrations:</strong>List of Spoke integrations.
					Where you can set up a <a
						href="https://docs.spokerewired.com/article/93-van-list-loading"
						target="_blank">VAN integration</a
					>.
				</li>
				<li>
					<strong>Settings</strong>: Menu of <a
						href="https://docs.spokerewired.com/article/78-settings"
						target="_blank">settings</a
					>.
				</li>
			</ul><p>
				You must be an <a
					href="https://docs.spokerewired.com/article/6-user-roles"
					target="_blank">Administrator or Owner</a
				> for your Spoke organization to use the administration dashboard.
				To access the administration dashboard, use the following URL:&nbsp;
			</p><p>
				<a href="https://your-domain.spokerewired.com/admin/1/campaigns"
					>https://your-domain.spokerewired.com/admin/1/campaigns</a
				>
			</p><p>
				Where&nbsp;<em>your-domain&nbsp;</em>is the unique subdomain
				name you chose when signing up.
			</p><h2>Texter Dashboard</h2><p>
				The texter dashboard lets you request texts and send messages to
				any conversations assigned to you. You must have a user account
				with your Spoke organization to use the texter dashboard.
			</p><p>To access the texter dashboard, use the following URL:</p><p>
				<a href="https://your-domain.spokerewired.com/app/1"
					>https://your-domain.spokerewired.com/app/1</a
				>
			</p><p>
				Where&nbsp;<em>your-domain&nbsp;</em>is the unique subdomain
				name you chose when signing up.
			</p>
		</div>
	</main>
</Layout>
