---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Reassign Conversations To Texters</h2>

			<p>
				There are several ways for you to reassign conversations to new
				texters or to unassign conversations to release them back to the
				assignment pool. The following sections describe the various
				methods of reassignment and unassignment.
			</p><h2>From the Message Review page</h2><p>
				From the Message Review page, you can manually reassign (or
				unassign) conversations to different texters.
			</p><p>
				To reassign conversations from the message review page:
			</p><ol>
				<li>
					Go to the <strong>Message Review</strong> page from the administration
					dashboard.<br />
				</li>
				<li>
					Filter the message list from the <strong>Message</strong>
					<strong>Filter</strong> window. Using the filter gives you the
					option of reassigning all conversations that match the filter.
				</li>
				<li>
					Find the conversations you want to reassign, and select them
					with the checkbox.
				</li>
				<li>Open the <strong>Message Actions</strong> window.</li>
				<li>
					Select <strong>Reassign</strong>.<br />
					<br />

					<blockquote>
						Note: You can also select
						<strong>Unassign</strong> to release the conversations back
						into the assignment pool.
					</blockquote>
				</li>
				<li>
					Specify one or more texters who will receive the
					reassignment.
				</li>
				<li>
					Click <strong>Reassign selected</strong> to reassign all selected
					contacts or <strong>Reassign all <em>n</em> matching</strong
					> to reassign all contacts that match the filter.
				</li>
			</ol><p>
				Example of how you assign initial messages (Needs First
				Message), from a specific campaign, that are currently
				unassigned.
			</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5f7f269546e0fb001798b0f4/file-oWwXpNydRH.png"
				/>
			</p><h2>From the Escalated Convos page</h2>
			<div>
				From the
				<strong>Escalated Convos</strong> page of the administration <a
					href="https://docs.spokerewired.com/article/52-dashboards"
					target="_blank">dashboard</a
				>, you can manually reassign (or unassign) escalated
				conversations to texters who can handle the conversation.
				<br />
			</div><div>To reassign an escalated conversation:</div><ol>
				<li>
					Go to the <strong>Escalated Convos</strong> page from the administration
					dashboard.
				</li>
				<li>
					Select conversations for reassignment with either or both of
					the following methods:<br />

					<ol>
						<li>
							Filter the message list from the <strong
								>Message</strong
							>
							<strong>Filter</strong> window. Using the filter gives
							you the option of reassigning all escalated conversations
							that match the filter.
						</li>
						<li>
							Manually find the conversations you want to
							reassign, and select them with the checkbox.
						</li>
					</ol>
				</li>
				<li>Open the <strong>Message Actions</strong> window.</li>
				<li>
					Select <strong>Reassign</strong>.<br />
					<br />

					<blockquote>
						Note: You can also select
						<strong>Unassign</strong> to release the conversations back
						into the assignment pool.
					</blockquote>
				</li>
				<li>
					Specify one or more texters who will receive the
					reassignment.
				</li>
				<li>
					Click <strong>Reassign selected</strong> to reassign all selected
					contacts or <strong>Reassign all <em>n</em> matching</strong
					> to reassign all contacts that match the filter.
				</li>
			</ol><h2>From the Campaigns page</h2><p>
				From the
				<strong>Campaigns</strong> page of the administration <a
					href="https://docs.spokerewired.com/article/52-dashboards"
					target="_blank">dashboard</a
				>, you can perform two <a
					href="https://docs.spokerewired.com/article/59-campaign-actions"
					target="_blank">campaign actions</a
				> to release conversations.
			</p><h4>Release Unsent Messages</h4><p>
				The
				<strong>Release Unsent Messages</strong>
				<strong> </strong>campaign action releases all conversations
				where the texter has not sent an initial message.
			</p><p>To release unsent messages for a campaign:</p><ol>
				<li>
					Go to the <strong>Campaigns</strong> page from the administration
					dashboard.
				</li>
				<li>
					Open the actions menu of the campaign (the three vertical
					dots to the right of the campaign).
				</li>
				<li>Click <strong>Release Unsent Messages</strong>.</li>
			</ol><h4>Release Unreplied Conversations</h4><p>
				The
				<strong>Release Unreplied Conversations</strong>
				<strong></strong>campaign action releases all conversations
				where the texter has not sent a response to a contact.<strong
					><br />
				</strong>
			</p><p>To release unreplied conversations for a campaign:</p><ol>
				<li>
					Go to the <strong>Campaigns</strong> page from the administration
					dashboard.
				</li>
				<li>
					Open the actions menu of the campaign (the three vertical
					dots to the right of the campaign).
				</li>
				<li>Click <strong>Release Unreplied Conversations</strong>.</li>
			</ol>
		</div>
	</main>
</Layout>
