---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">
				Spoke 101 Tips For A Successful Mass Text
			</h2>

			<p>
				If you need help getting started, click <a
					href="https://docs.spokerewired.com/article/34-build-a-campaign"
					>here</a
				> to read about how to build a campaign. Once you have created a
				draft campaign, check to make sure your campaign meets the following
				characteristics to make sure your messages are delivered and not
				filtered as spam.
			</p><p><strong>What is spam filtering?</strong></p><p>
				When your texts leave Spoke, they travel through a chain of
				other channels before arriving at someone&#39;s cell phone. At
				any stop along the way, your message can be deemed spam and thus
				not delivered.
			</p><br /><p>
				How can you make sure to construct a message that will reach
				your audience?
			</p><ul>
				<li>
					<strong>Use short-links.</strong> Commonly used short
					links (e.g., bit.ly, tinyurl.com, etc.) as well as commonly
					used link domains (e.g., ActBlue) are OFTEN blocked as spam.
					We recommend using a custom domain on <a
						href="https://www.rebrandly.com/">Rebrandly</a
					>. See our full article <a
						href="https://docs.spokerewired.com/article/70-short-link-domains"
						>here</a
					> for more info.
				</li><li>
					<strong>Introduce yourself.</strong>Greet the textee and
					identify who you are and from what organization you&#39;re
					texting. This could look like &quot;Hey
					&lcub;firstName&rcub;, &lcub; texterFirstName &rcub; here
					with Politics Rewired!&quot;
				</li><li>
					<strong>End your message with opt out language.</strong> &#39;Reply
					STOP to quit&#39; is a safe bet. We also like (STOP to End).
					This is crucial for deliverability.
				</li><li>
					<strong>Ensure grammar and punctuation are correct.</strong>
					Messages with incorrect grammar are likely to be filtered out.
				</li>
			</ul><p>MMS checklist:</p><ul>
				<li>
					<strong>Is the image under 600kb?</strong> Images above 600kb
					in size will not deliver to many cell phones.
				</li><li>
					<strong
						>Make sure the link is a link directly to the image</strong
					> and ends in .jpeg, .png, or .gif.
				</li><li>
					<p>
						<strong
							>Put your image link in square brackets to send MMS.
						</strong>There should not be a space between the
						brackets and the initial text, so there is no odd space
						at the beginning of your message.
					</p><br /><p>
						To review, an MMS initial message should look like the
						following:
					</p>
				</li>
			</ul><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/630fc1d14cde766bbe140f56/file-ypwDxzwcGO.png"
					style="max-width: 100%; "
				/>
			</p>
		</div>
	</main>
</Layout>
