---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Tags</h2>

			<p>
				Tags are used by texters to log additional data about a
				conversation or contact. Tags can be applied to any conversation
				across all of your organization's campaigns and are typically
				used to capture information that doesn't fit neatly in your
				interaction scripts.&nbsp;
			</p><p>
				For example, a
				<em>Spanish</em>&nbsp;tag would allow you to mark people
				replying in Spanish as Spanish-speakers, giving you the
				information needed to contact them in the future in their
				preferred language. A <em>Volunteer Lead</em>&nbsp;would allow
				you to&nbsp;mark people expressing interest in volunteering,
				enabling you to follow up and recruit them later.
			</p><blockquote>
				<em
					>Note: Conversation tags apply only to the current
					conversation and do carry over to conversations with the
					same contact on other campaigns.</em
				>
			</blockquote><h5><em>To create a tag:</em></h5><ol>
				<li>
					Navigate to the <strong>Tags</strong>page page of the
					administration <a
						href="https://docs.spokerewired.com/article/52-dashboards"
						target="_blank">dashboard</a
					>.&nbsp;
				</li>
				<li>
					Click the green&nbsp;<strong>plus (+)</strong> button in the
					bottom right-hand corner.
				</li>
				<li>Choose a <strong>tag title</strong>.</li>
				<li>
					<em>Optional –&nbsp;</em>You may also include a <strong
						>tag description</strong
					>, a&nbsp;<strong>tag script</strong> that will automatically
					populate when the tag is selected by a texter, as well as the
					tag's<strong>&nbsp;text&nbsp;color</strong> and <strong
						>background color</strong
					>.&nbsp;
				</li>
				<li>Click <strong>Create</strong>.</li>
			</ol><h4>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/601dd97dfb34b55df443df5d/file-ev0KNerJ8c.png"
				/>Custom Escalation Tags
			</h4><p>
				You can also create a custom escalation tag that not only logs
				data but removes the conversation from a texter's workflow, and
				makes it uniquely available to a specialized <a
					href="https://docs.spokerewired.com/article/49-create-a-team"
					target="_blank">team</a
				> for assignment.&nbsp;To do this, just un-check <strong
					style="background-color: initial;"
					>Allow assignment
				</strong>when creating your tag.
			</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/601dafc81f25b9041bebc15e/file-3jd35mrmiS.png"
				/>
			</p><p>
				You can then apply these custom escalation tags to a specialized
				team of texters by navigating to
				<strong>Assignment Control</strong> and&nbsp; adding the tag to the&nbsp;<strong
					>Custom escalation&nbsp;tag
				</strong>field.
			</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/601ddd326867724dfc6f04b1/file-uI6D5H8bK5.png"
				/>
			</p>
		</div>
	</main>
</Layout>
