---
import DocsCollectionButton from "../../../components/DocsCollection/DocsCollectionButton.astro";
import Layout from "../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Spoke Texting Documentation</h2>
			<DocsCollectionButton
				id="for-spoke-texters"
				text="For Spoke Texters"
				link="/docs/spoke/for-spoke-texters"
			/>
			<DocsCollectionButton
				id="for-spoke-admins"
				text="For Spoke Administrators"
				link="/docs/spoke/for-spoke-admins"
			/>
		</div>
	</main>
</Layout>
