---
import ContentLayout from "../layouts/ContentLayout.astro";
import "animate.css";
---

<ContentLayout
	title='About Us at With the Ranks'
	bannerCategory='About Us'
	bannerTitle='We build great tech</br> for good causes.'
	bannerSubtitle='With the Ranks is a worker-owned technology cooperative focused on helping campaigns, non-profits, and unions figure out tech.'
	theme='light'
	bannerColor='bg-[#ffe872]'
	toc={[
    { id: "why-we-exist", label: "Why we exist" },
    { id: "what-we-do", label: "What we do" },
    { id: "who-we-are", label: "Who we are" },
    { id: "our-cooperative", label: "How we run our cooperative" },
    { id: "about-our-name", label: "About our name" },
    { id: "get-in-touch", label: "Get in touch" }
  ]}
>
	<article class='relative'>
	<div id='why-we-exist'>
			<h2 class='text-[#232656] font-bold'>Why we exist</h2>
			<p class='text-[#232656] text-2xl'>
				With the Ranks was founded by members of the Bernie 2020 technology team. Together, we supported one of the largest organizing operations in history, helping funnel thousands of volunteers to take real on-the-ground action and raise millions of dollars from small donors.
			</p>
			<p class='text-[#232656] text-2xl'>
				On the campaign we built and optimized <a href="https://berniesanders.com" target="_blank">berniesanders.com</a> into a powerhouse fundraising and organizing vessel, built an in-house relational organizing app called <a href="https://www.nbcnews.com/politics/2020-election/bernie-sanders-2020-campaign-unveils-app-increase-its-voter-database-n999206" target="_blank">BERN</a> that provided a critical organizing lifeline when the COVID-19 pandemic hit, and supported an operation of hundreds of staff and thousands of volunteers with a team of only 7.
			</p>
			<p class='text-[#232656] text-2xl'>
				Along the way we learned a thing or two about the intersection of organizing, data, media and technology - most importantly that building a technology operation is hard, especially under the intense time and monetary constraints most campaigns and organizations find themselves.
			</p>
			<p class='text-[#232656] text-2xl'>
				We started With the Ranks to create a better place to build organizing tech - and to make sure organizations of all sizes and budgets can have access to it. <strong>After all, change can only happen from the bottom up.</strong>
			</p>
		</div>
		<div id='what-we-do'>
			<h2 class='text-[#232656] font-bold'>What we do</h2>
			<p class='text-[#232656] text-2xl'>
				We go to work every day looking to build things that help people organize to solve big problems.
			</p>
			<p class='text-[#232656] text-2xl'>
				We love to build and host high-performing websites and apps, develop cohesive tech strategies to organize at scale, run A/B tests to optimize websites, improve accessibility and page speed on existing websites, run peer-to-peer texting campaigns through our self hosted fork of Spoke, build and maintain open source tech tools, and a whole lot more.
			</p>
			<p class='text-[#232656] text-2xl'>
				We support candidates, nonprofits, businesses, labor unions and anyone else who is not afraid to stand up for workers and the planet.
			</p>
			<a href='/our-work'><p>See what we've been up to lately ⤳</p></a>
		</div>
		<div id='who-we-are' class='mt-16'>
			<h2 class='text-[#232656] font-bold'>Who we are</h2>
			<p class='text-[#232656] text-2xl'>
				With the Ranks is 100% worker-owned, built by good people from across the globe.
			</p>
			<div
				class='bg-[#F4F5FF] rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-2 sm:p-2 lg:p-6 xl:p-8 relative overflow-hidden grid grid-cols-1 md:grid-cols-6 gap-8'
			>
				<div class='md:col-span-1 mx-auto'>
					<img
						src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'
						alt='Team image'
					/>
				</div>
				<div class='md:col-span-5'>
					<p class='text-[#232656] text-2xl'>
						<b>Aashish</b> is lorem ipsum dolor sit amet, consectetur adipiscing
						elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam
						quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus,
						fieri tamen permagna accessio potest, si aliquod aeternum et infinitum
						impendere malum nobis opinemur. Quod idem licet transferre.
					</p>
					<p>
						Praeterea bona praeterita grata recordatione renovata delectant. Est
						autem situm in nobis. Praeterea bona praeterita grata recordatione
						renovata delectant.
					</p>
				</div>
				<div class='md:col-span-1 mx-auto'>
					<img
						src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'
						alt='Team image'
					/>
				</div>
				<div class='md:col-span-5'>
					<p>
						<b>Alan</b> is ullus investigandi veri, nisi inveneris, et quaerendi
						defatigatio turpis est, cum esset accusata et vituperata ab Hortensio.
						Qui liber cum et mortem contemnit, qua qui est imbutus quietus esse numquam
						potest.
					</p>
					<p class='text-[#232656] text-2xl'>
						Est autem situm in nobis ut et voluptates et dolores nasci fatemur e
						corporis voluptatibus et doloribus -- itaque concedo, quod modo
						dicebas, cadere causa, si qui.
					</p>
				</div>
				<div class='md:col-span-1 mx-auto'>
					<img
						src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'
						alt='Team image'
					/>
				</div>
				<div class='md:col-span-5'>
					<p class='text-[#232656] text-2xl'>
						<b>Bob</b> is qui liber cum et mortem contemnit, qua qui est imbutus
						quietus esse numquam potest. Praeterea bona praeterita grata recordatione
						renovata delectant. Est autem situm in nobis. Praeterea bona praeterita
						grata recordatione renovata delectant.
					</p>
					<p class='text-[#232656] text-2xl'>
						Praeterea bona praeterita grata recordatione renovata delectant. Est
						autem situm in nobis. Praeterea bona praeterita grata recordatione
						renovata delectant.
					</p>
				</div>
				<div class='md:col-span-1 mx-auto'>
					<img
						src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'
						alt='Team image'
					/>
				</div>
				<div class='md:col-span-5'>
					<p class='text-[#232656] text-2xl'>
						<b>Chris</b> is qui liber cum et mortem contemnit, qua qui est imbutus
						quietus esse numquam potest. Praeterea bona praeterita grata recordatione
						renovata delectant. Est autem situm in nobis. Est autem situm in nobis
						ut et voluptates et dolores nasci fatemur e corporis.
					</p>
					<p class='text-[#232656] text-2xl'>
						Praeterea bona praeterita grata recordatione renovata delectant. Est
						autem situm in nobis. Praeterea bona praeterita grata recordatione
						renovata delectant.
					</p>
				</div>
				<div class='md:col-span-1 mx-auto'>
					<img
						src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'
						alt='Team image'
					/>
				</div>
				<div class='md:col-span-5'>
					<p class='text-[#232656] text-2xl'>
						<b>Sukhada</b> is qui liber cum et mortem contemnit, qua qui est imbutus
						quietus esse numquam potest. Praeterea bona praeterita grata recordatione
						renovata delectant. Est autem situm in nobis. Est autem situm in nobis
						ut et voluptates et dolores nasci fatemur e corporis.
					</p>
					<p class='text-[#232656] text-2xl'>
						Praeterea bona praeterita grata recordatione renovata delectant. Est
						autem situm in nobis. Praeterea bona praeterita grata recordatione
						renovata delectant.
					</p>
				</div>
			</div>

			<a href='/careers' class="p-2"><p>Want to work with us? See what openings we have available ⤳</p></a>

		</div>
		<div id='our-cooperative'>
			<h2 class='text-[#232656] font-bold' style='line-break: anywhere;'>
				How we run our cooperative.
			</h2>
			<p class='text-[#232656] text-2xl'>
				We believe in the power of cooperatives to fundamentally change the way we live and work, and With the Ranks was built to provide a more sustainable model for building organizing tech. Here are a few core beliefs we have about how our business should operate:
			</p>
			<h3 class='text-[#232656] font-bold text-3xl' style='line-break: anywhere;'>
				Every worker should have ownership in the business
			</h3>
			<p class='text-[#232656] text-2xl'>
				From democratic decision-making to co-ownership of the business, With the Ranks is owned and run by its workers. That means that everyone involved cares deeply about our work and shares equally in our successes and failures. And when the business does well, we share equally in those profits.
			</p>
			<h3 class='text-[#232656] font-bold text-3xl' style='line-break: anywhere;'>
				Our pay and benefits should be fair and competitive with industry standards
			</h3>
			<p class='text-[#232656] text-2xl'>
				We can't expect talented people to work on big problems unless we support them adequately. We aim to pay our workers competitive wages and offer generous benefits, and everyone at With the Ranks makes the same salary.
			</p>
			<p class='text-[#232656] text-2xl'>
				We're slowly building out our benefits offerings, most recently adding dental through our friends at the <a href="https://www.usworker.coop" target="_blank">United States Federation of Worker Cooperatives</a>.
			</p>
			<h3 class='text-[#232656] font-bold text-3xl' style='line-break: anywhere;'>
				Tech alone won't save us
			</h3>
			<p class='text-[#232656] text-2xl'>
				Technology cannot solve the world's problems alone, but it can help scale organizing efforts. We aim to support good organizations of all sizes, regardless of their budgets, and move as many people to action as possible.
			</p>
			<a href='/public/assets/operating-agreement.pdf' target="_blank"><p>Want to know more? Read our full operating agreement here ⤳</p></a>
		</div>
		<div id='about-our-name'>
			<h2 class='text-[#232656] font-bold'>About our name</h2>
			<p class='text-[#232656] text-2xl'>
				Our name is based on a quote given by Eugene Debs in 1918: 
			</p>
			<blockquote class="p-8 bg-[#959AF6] bg-opacity-20 4 border-s-8 border-[#959AF6]">
				<p class="text-2xl italic font-medium leading-relaxed m-0">If you go to the city of Washington, and you examine the pages of the Congressional Directory, you will find that almost all of those corporation lawyers and cowardly politicians, members of Congress, and misrepresentatives of the masses — you will find that almost all of them claim, in glowing terms, that they have risen from the ranks to places of eminence and distinction. I am very glad I cannot make that claim for myself. <strong>I would be ashamed to admit that I had risen from the ranks. When I rise it will be with the ranks, and not from the ranks.</strong>
			</blockquote>
			<p class='text-[#232656] text-2xl mt-8'>
				It is a reminder that no matter where we go, we exist to support all good causes - not just the people at the top.
			</p>
		</div>
		<div id='get-in-touch'>
			<h2 class='text-[#232656] font-bold'>Get in touch</h2>
			<p class='text-[#232656] text-2xl'>
				Whether you're working on a good cause or just want to say hi, drop us a line below!
			</p>
		</div>
	</article>
</ContentLayout>
