---
import ContentLayout from "../layouts/ContentLayout.astro";
import "animate.css";
---

<ContentLayout
	title='About Us at With the Ranks'
	bannerCategory='About Us'
	bannerTitle='We are organizers, <br/> designers and technologists.'
	bannerSubtitle='Built by veterans of the Bernie 2020 campaign and the movements and organizations surrounding it, we’ve learned a thing or two about the intersection of organizing, data, media and technology.'
	theme='light'
	bannerColor='bg-[#ffe872]'
	toc={[
    { id: "what-we-do", label: "What we do" },
    { id: "meet-our-team", label: "Meet our team" },
    { id: "our-cooperative", label: "How we run our cooperative" }
  ]}
>
	<article class='relative'>
		<div id='what-we-do'>
			<h2 class='text-[#232656] font-bold'>What we do.</h2>
			<p class='text-[#232656]'>
				We love building beautiful websites, developing custom organizing tools,
				running A/B testing programs, hosting Spoke peer-to-peer texting, and
				doing whatever we can to help good causes prevail.
			</p>
			<p class='text-[#232656]'>
				We are a team of engineers, designers, and organizers interested in
				building cool things and solving the world’s problems when we can.
			</p>
			<div
				class='bg-[#F4F5FF] rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-2 sm:p-2 lg:p-6 xl:p-8 relative overflow-hidden grid grid-cols-1 md:grid-cols-4 gap-8'
			>
				<div class='md:col-span-1 mx-auto'>
					<img
						src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtLCiTtUScYMOEzUoAXVN70d9abWwI5iPmJ8T6'
						alt='Project image'
					/>
				</div>
				<div class='md:col-span-3 mx-auto text-center sm:text-left'>
					<h3 class='text-[#232656] font-bold'>
						Some recent projects
					</h3>
					<p>
						We recently worked with the Oregon Rebate team on branding and a
						custom website for their ballot measure campaign.
					</p>
					<a href='#'><p>Read more about their experience here ⤳</p></a>
				</div>
			</div>
		</div>
		<div id='meet-our-team' class='mt-16'>
			<h2 class='text-[#232656] font-bold'>Meet our team.</h2>
			<p class='text-[#232656]'>
				We started With the Ranks because we know how hard technology can be
				when you’re trying to build something good.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem.
				Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna
				accessio potest, si aliquod aeternum et infinitum impendere malum nobis
				opinemur. Quod idem licet transferre.
			</p>
			<div
				class='bg-[#F4F5FF] rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-2 sm:p-2 lg:p-6 xl:p-8 relative overflow-hidden grid grid-cols-1 md:grid-cols-6 gap-8'
			>
				<div class='md:col-span-1 mx-auto'>
					<img
						src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'
						alt='Team image'
					/>
				</div>
				<div class='md:col-span-5'>
					<p class='text-[#232656]'>
						<b>Aashish</b> is lorem ipsum dolor sit amet, consectetur adipiscing
						elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam
						quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus,
						fieri tamen permagna accessio potest, si aliquod aeternum et infinitum
						impendere malum nobis opinemur. Quod idem licet transferre.
					</p>
					<p>
						Praeterea bona praeterita grata recordatione renovata delectant. Est
						autem situm in nobis. Praeterea bona praeterita grata recordatione
						renovata delectant.
					</p>
				</div>
				<div class='md:col-span-1 mx-auto'>
					<img
					  src='assets/alan.jpg'
					  alt='A picture of Alan'
					  class='rounded-full'
					/>
				</div>
				<div class='md:col-span-5'>
					<p>
						<b>Alan</b> is an experienced architect and technical project manager.
						With over two decades in software development, he has accumulated a diverse
						portfolio of innovative digital experiences - ranging from political
						campaigns to global content platforms. His past work includes engineering
						critical tools for Bernie Sanders' 2020 presidential campaign, architecting
						and developing comprehensive state voter guides, launching global VOD
						platforms, and leading integrations for major media and telecom companies.
					</p>
					<p class="text-[#232656] text-2xl">
						Basketball and travel adventures will always capture his interest.
						But Alan's driving force for the foreseeable future is taking on the
						challenge of guiding his three kids towards approaching life with
						honesty, humor, and compassion.
					</p>
				</div>
				<div class='md:col-span-1 mx-auto'>
					<img src='/assets/bob.jpeg' alt='Team image' class='rounded-full' />
				</div>
				<div class='md:col-span-5'>
					<p class='text-[#232656]'>
						<b>Bob</b> is a software engineer with a passion for building fast, scalable,
						and user-friendly applications. He has worked across startups, political
						tech, and community-driven platforms, focusing on impactful solutions.
						From voter guides to custom-built apps, he thrives on solving complex
						problems with clean, efficient solutions and designs.
					</p>
					<p class='text-[#232656]'>
						When he’s not coding, Bob is on the mats coaching Brazilian
						Jiu-Jitsu, helping kids and adults build confidence through
						training. He also enjoys playing music, chess, reading, and spending
						quality time with his friends and family.
					</p>
				</div>
				<div class='md:col-span-1 mx-auto'>
					<img
						src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'
						alt='Team image'
					/>
				</div>
				<div class='md:col-span-5'>
					<p class='text-[#232656]'>
						<b>Chris</b> is qui liber cum et mortem contemnit, qua qui est imbutus
						quietus esse numquam potest. Praeterea bona praeterita grata recordatione
						renovata delectant. Est autem situm in nobis. Est autem situm in nobis
						ut et voluptates et dolores nasci fatemur e corporis.
					</p>
					<p class='text-[#232656]'>
						Praeterea bona praeterita grata recordatione renovata delectant. Est
						autem situm in nobis. Praeterea bona praeterita grata recordatione
						renovata delectant.
					</p>
				</div>
				<div class='md:col-span-1 mx-auto'>
					<img
					  src='assets/sukhada.png'
					  alt='A picture of Sukhada'
					  class='rounded-full'
					/>

				</div>
				<div class='md:col-span-5'>
					<p class='text-[#232656]'>
						<b>Sukhada</b> is a full stack software engineer. She started her career in Silicon Valley,
						working at startups like Reddit. Her foray into political and non-profit work began as a volunteer for
						the Bernie Sanders 2016 campaign, and she hasn't looked back since then! Her work has included
						building and supporting organizing tools, website development and fundraising optimization.
					</p>
					<p class='text-[#232656]'>
						When not at work, Sukhada is usually trying out a new boardgame with her friends, watching
						the Premier League with her husband, or out on a walk with her dog.
					</p>
				</div>
			</div>
		</div>
		<div id='our-cooperative' class='mt-16'>
			<h2 class='text-[#232656] font-bold' style='line-break: anywhere;'>
				How we run our cooperative.
			</h2>
			<p class='text-[#232656]'>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem.
				Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna
				accessio potest, si aliquod aeternum et infinitum impendere malum nobis
				opinemur. Quod idem licet transferre.
			</p>
		</div>
	</article>
</ContentLayout>
