---
import Layout from "../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks" theme="light">
  <div>
    <!-- Main Content -->
    <main class="mx-auto pb-8 sm:pb-12 lg:pb-16">
      <div
        class='bg-[#ffe872] container mx-auto rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-6 sm:p-8 lg:p-12 xl:p-16 relative overflow-hidden'>
          <div class='bg-[#252753] bg-opacity-20 text-[#252753] font-bold text-xs sm:text-sm px-3 sm:px-4 py-1 sm:py-1.5 rounded-full inline-block mb-3 sm:mb-4 max-w-4xl'>
            About Us
          </div>
          <h2
            class='text-[#252753] text-4xl sm:text-5xl lg:text-6xl xl:text-7xl font-bold leading-[1.1] mb-6 sm:mb-8 lg:mb-10'
          >
            We are organizers,<br> designers and technologists.
          </h2>
          <p class='text-[#252753] text-3xl mb-8 sm:mb-12 lg:mb-16 max-w-4xl'>
            Built by veterans of the Bernie 2020 campaign and the movements and organizations surrounding it, we’ve learned a thing or two about the intersection of organizing, data, media and technology.
          </p>
      </div>
      <div class="container mx-auto relative z-[2] px-4 sm:px-0">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-20 mt-16 items-start">
          <div class="bg-[#959AF6] bg-opacity-20 rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-2 sm:p-2 lg:p-6 xl:p-6 md:sticky md:top-10 overflow-hidden md:col-span-1 on-this-page">
            <h3 class='font-bold mb-3'>On this page</h3>
            <a class='no-underline hover:bg-[#959AF6]' href='#what-we-do'>
              <h3 class='font-normal mb-0'>What we do</h3>
            </a>
            <hr class='border-[#959AF6] border-t-2 opacity-20 my-3'>
            <a class='no-underline hover:bg-[#959AF6]' href='#meet-our-team'>
              <h3 class='font-normal mb-0'>Meet our team</h3>
            </a>
            <hr class='border-[#959AF6] border-t-2 opacity-20 my-3'>
            <a class='no-underline hover:bg-[#959AF6]' href='#our-cooperative'>
              <h3 class='font-normal mb-0'>How we run our cooperative</h3>
            </a>
          </div>
          <div class='relative md:col-span-3'>
            <div id="what-we-do">
              <h2 class='text-[#232656] font-bold'>What we do.</h2>
              <p class='text-[#232656] text-2xl'>
                We love building beautiful websites, developing custom organizing tools, running A/B testing programs, hosting Spoke peer-to-peer texting, and doing whatever we can to help good causes prevail.
              </p>
              <p class='text-[#232656] text-2xl'>
                We are a team of engineers, designers, and organizers interested in building cool things and solving the world’s problems when we can.
              </p>
              <div class='bg-[#F4F5FF] rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-2 sm:p-2 lg:p-6 xl:p-8 relative overflow-hidden grid grid-cols-1 md:grid-cols-4 gap-8'>
                <div class='md:col-span-1 mx-auto'>
                  <img src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtLCiTtUScYMOEzUoAXVN70d9abWwI5iPmJ8T6'>
                </div>
                <div class='md:col-span-3 mx-auto text-center sm:text-left'>
                  <h3 class='text-[#232656] font-bold text-4xl'>Some recent projects</h3>
                  <p class='text-[#232656] text-2xl'>
                    We recently worked with the Oregon Rebate team on branding and a custom website for their ballot measure campaign.
                  </p>
                  <a href="#"><p>Read more about their experience here ⤳</p></a>
                </div>
              </div>
            </div>
            <div id="meet-our-team" class="mt-16">
              <h2 class='text-[#232656] font-bold'>Meet our team.</h2>
              <p class='text-[#232656] text-2xl'>
                We started With the Ranks because we know how hard technology can be when you’re trying to build something good.
              </p>
              <p class='text-[#232656] text-2xl'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur. Quod idem licet transferre.
              </p>
              <div class='bg-[#F4F5FF] rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-2 sm:p-2 lg:p-6 xl:p-8 relative overflow-hidden grid grid-cols-1 md:grid-cols-6 gap-8'>
                <div class='md:col-span-1 mx-auto'>
                  <img src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'>
                </div>
                <div class='md:col-span-5'>
                  <p class='text-[#232656] text-2xl'>
                    <b>Aashish</b> is lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur. Quod idem licet transferre.
                  </p>
                  <p class='text-[#232656] text-2xl'>
                    Praeterea bona praeterita grata recordatione renovata delectant. Est autem situm in nobis. Praeterea bona praeterita grata recordatione renovata delectant.
                  </p>
                </div>
                <div class='md:col-span-1 mx-auto'>
                  <img src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'>
                </div>
                <div class='md:col-span-5'>
                  <p class='text-[#232656] text-2xl'>
                    <b>Alan</b> is ullus investigandi veri, nisi inveneris, et quaerendi defatigatio turpis est, cum esset accusata et vituperata ab Hortensio. Qui liber cum et mortem contemnit, qua qui est imbutus quietus esse numquam potest.                   </p>
                  <p class='text-[#232656] text-2xl'>
                    Est autem situm in nobis ut et voluptates et dolores nasci fatemur e corporis voluptatibus et doloribus -- itaque concedo, quod modo dicebas, cadere causa, si qui.
                  </p>
                </div>
                <div class='md:col-span-1 mx-auto'>
                  <img src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'>
                </div>
                <div class='md:col-span-5'>
                  <p class='text-[#232656] text-2xl'>
                    <b>Bob</b> is qui liber cum et mortem contemnit, qua qui est imbutus quietus esse numquam potest. Praeterea bona praeterita grata recordatione renovata delectant. Est autem situm in nobis. Praeterea bona praeterita grata recordatione renovata delectant.
                  </p>
                  <p class='text-[#232656] text-2xl'>
                    Praeterea bona praeterita grata recordatione renovata delectant. Est autem situm in nobis. Praeterea bona praeterita grata recordatione renovata delectant.
                  </p>
                </div>
                <div class='md:col-span-1 mx-auto'>
                  <img src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'>
                </div>
                <div class='md:col-span-5'>
                  <p class='text-[#232656] text-2xl'>
                    <b>Chris</b> is qui liber cum et mortem contemnit, qua qui est imbutus quietus esse numquam potest. Praeterea bona praeterita grata recordatione renovata delectant. Est autem situm in nobis. Est autem situm in nobis ut et voluptates et dolores nasci fatemur e corporis.
                  </p>
                  <p class='text-[#232656] text-2xl'>
                    Praeterea bona praeterita grata recordatione renovata delectant. Est autem situm in nobis. Praeterea bona praeterita grata recordatione renovata delectant.
                  </p>
                </div>
                <div class='md:col-span-1 mx-auto'>
                  <img src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtDmBUsZukfN7gCloSXT2Y4JcIxPZjGtiK6eWM'>
                </div>
                <div class='md:col-span-5'>
                  <p class='text-[#232656] text-2xl'>
                    <b>Sukhada</b> is qui liber cum et mortem contemnit, qua qui est imbutus quietus esse numquam potest. Praeterea bona praeterita grata recordatione renovata delectant. Est autem situm in nobis. Est autem situm in nobis ut et voluptates et dolores nasci fatemur e corporis.
                  </p>
                  <p class='text-[#232656] text-2xl'>
                    Praeterea bona praeterita grata recordatione renovata delectant. Est autem situm in nobis. Praeterea bona praeterita grata recordatione renovata delectant.
                  </p>
                </div>

              </div>

            </div>
            <div id="our-cooperative" class="mt-16">
              <h2 class='text-[#232656] font-bold' style="line-break: anywhere;">How we run our cooperative.</h2>
              <p class='text-[#232656] text-2xl'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur. Quod idem licet transferre.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>
