---
import Layout from "../layouts/Layout.astro";
import "animate.css";
import HeroSection from "../components/HeroSection.astro";
import Partners from "../components/Partners.astro";
---

<Layout title="Spoke" theme="light">
  <div>
    <!-- Main Content -->
    <main class="bg-white container mx-auto rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-6 sm:p-8 lg:p-12 xl:p-16 relative overflow-hidden">
      <div
        class='bg-[#8C9DFF] container mx-auto rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-6 sm:p-8 lg:p-12 xl:p-16 relative overflow-hidden'>
          <div class='bg-[#252753] bg-opacity-20 text-[#252753] font-bold text-xs sm:text-sm px-3 sm:px-4 py-1 sm:py-1.5 rounded-full inline-block mb-3 sm:mb-4 max-w-4xl'>
            Careers
          </div>
          <h2
            class='text-[#252753] text-4xl sm:text-5xl lg:text-6xl xl:text-7xl font-bold leading-[1.1] mb-6 sm:mb-8 lg:mb-10'
          >
            Come work with us.
          </h2>
          <p class='text-[#252753] text-3xl mb-0 max-w-4xl'>
            With the Ranks is looking to hire consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem.
          </p>
      </div>
      <div class="container mx-auto relative z-[2] px-4 sm:px-0 mt-16">
        <div class="md:w-2/3 mx-auto">
          <h2 class='text-[#232656] font-bold mb-0'>Product Designer</h2>
          <p class='text-[#232656] text-2xl mb-16 mt-0'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna accessio potest, si aliquod aeternum et infinitum impendere malum nobis opinemur. Quod idem licet transferre.
          </p>

        </div>
        <div class='bg-[#FFE872] rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-2 sm:p-2 lg:p-6 xl:p-8 relative overflow-hidden grid grid-cols-1 md:grid-cols-10 md:w-2/3 mx-auto'>
          <div class='md:col-span-1 mx-auto'>
            <img src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTt5uIaTlPqEjVfunN0aMdJbkewOQl2ZRBvoDTx'>
          </div>
          <div class='md:col-span-9 mx-auto sm:text-left'>
            <h3 class='text-[#232656] font-bold text-5xl'>Don’t see a position you’d fit in?</h3>
            <p class='text-[#232656] text-2xl'>
              We’re always open to talking with good people, regardless of what you do.
            </p>
            <a href="mailto:hello@withtheranks.com"><p class="text-[#232656] mb-0">Let us know what you’re working on ⤳</p></a>
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>
