---
import ContentLayout from "../layouts/ContentLayout.astro";
import "animate.css";
---

<ContentLayout
	title='Careers at With the Ranks'
	bannerCategory='Careers'
	bannerTitle='Come work with us.'
	bannerSubtitle='With the Ranks is looking to hire consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem.'
	theme='light'
	bannerColor='bg-[#8C9DFF]'
>
	<div class='w-full mx-auto'>
		<h2 class='text-[#232656] font-bold mb-0'>Product Designer</h2>
		<p class='text-[#232656] text-2xl mb-16 mt-0'>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem.
			Ut enim aeque doleamus animo, cum corpore dolemus, fieri tamen permagna
			accessio potest, si aliquod aeternum et infinitum impendere malum nobis
			opinemur. Quod idem licet transferre.
		</p>
	</div>
	<div
		class='bg-[#FFE872] rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-2 sm:p-2 lg:p-6 xl:p-8 relative overflow-hidden grid grid-cols-1 md:grid-cols-10 mx-auto'
	>
		<div class='md:col-span-1 mx-auto'>
			<img
				src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTt5uIaTlPqEjVfunN0aMdJbkewOQl2ZRBvoDTx'
				alt='Career image'
			/>
		</div>
		<div class='md:col-span-9 mx-auto sm:text-left'>
			<h3 class='text-[#232656] font-bold text-5xl'>
				Don’t see a position you’d fit in?
			</h3>
			<p class='text-[#232656] text-2xl'>
				We’re always open to talking with good people, regardless of what you
				do.
			</p>
			<a href='mailto:hello@withtheranks.com'>
				<p class='text-[#232656] mb-0'>Let us know what you’re working on ⤳</p>
			</a>
		</div>
	</div>
</ContentLayout>
