---
import InquiryForm from "@/components/react/InquiryForm";
import ContentLayout from "../layouts/ContentLayout.astro";
import "animate.css";
---

<ContentLayout
	title='Careers at With the Ranks'
	bannerCategory='Careers'
	bannerTitle='Come work with us.'
	bannerSubtitle='With the Ranks is looking to hire consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnam aliquam quaerat voluptatem.'
	theme='light'
	bannerColor='bg-[#8C9DFF]'
>
	<div class='w-full mx-auto'>
		<InquiryForm 
			showAllOptions={false}
			title="Connect with us!"
			subtitle="We're always looking for talented individuals to join our team."
			helloText="Let us know what you're working on."
			client:load
		/>
	</div>
	<div
		class='bg-[#FFE872] text-center sm:text-left rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-4 lg:p-6 xl:p-8 relative overflow-hidden grid grid-cols-1 md:grid-cols-10 mx-auto'
	>
		<div class='md:col-span-1 mx-auto'>
			<img
				src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTt5uIaTlPqEjVfunN0aMdJbkewOQl2ZRBvoDTx'
				alt='Career image'
				class="w-10 sm:w-full"
			/>
		</div>
		<div class='md:col-span-9 mx-auto sm:text-left'>
			<h3 class='text-[#232656] font-bold text-xl mb-0 sm:text-3xl xl:text-4xl'>
				Don’t see a position you’d fit in?
			</h3>
			<p class='text-[#232656]'>
				We’re always open to talking with good people, regardless of what you
				do.
			</p>
			<a href='mailto:hello@withtheranks.com'>
				<p class='text-[#232656] mb-0 text-xs sm:text-xl'>Let us know what you’re working on ⤳</p>
			</a>
		</div>
	</div>
</ContentLayout>
