---
import Layout from "../layouts/Layout.astro";
import ContactOptionsSection from "../components/ContactOptionsSection.astro";
import "animate.css";
---

<Layout title="Contact Us – With the Ranks">
  <div>
    <main>
      <ContactOptionsSection topBorder={false} />
    </main>
  </div>
</Layout>
