---
import Layout from "../layouts/Layout.astro";
import InquiryForm from '../components/react/InquiryForm';

import "animate.css";
import HeroSection from "../components/HeroSection.astro";
import Partners from "../components/Partners.astro";
---

<Layout title="With the Ranks">
  <div>
    <!-- Main Content -->
    <main class="mx-auto pb-8 sm:pb-12 lg:pb-16">
			<HeroSection/>
      <Partners/>
      <InquiryForm client:visible />
    </main>
  </div>
</Layout>
