---
import InquiryForm from "../components/react/InquiryForm.tsx";
import ContentLayout from "../layouts/ContentLayout.astro";
import "animate.css";
---

<ContentLayout
	title="Spoke Texting - With the Ranks"
	bannerCategory="Spoke"
	bannerTitle="Spoke Texting"
	bannerSubtitle="Built by veterans of Bernie's presidential campaigns and the movements and organizations that emerged alongside them, Spoke is the lowest cost peer-to-peer texting platform on the market."
	theme="light"
	bannerColor="bg-[#ffe872]"
	toc={[
		{ id: "spoke", label: "Spoke" },
		{ id: "features", label: "Features" },
		{ id: "pricing", label: "Pricing" },
		{ id: "signup", label: "Sign Up!" },
	]}
>
	<div class='relative md:col-span-3'>
		<div id='spoke'>
			<h2 class='text-[#232656] font-bold'>Spoke</h2>
			<p class='text-[#232656]'>
				Spoke is open-source software that allows you to send millions of text
				messages to your supporters and follow up with in-depth, one-on-one
				conversations with those who reply.
			</p>
			<p class='text-[#232656]'>
				Record opt outs, tag conversations, and sync all that data back to your
				CRM without breaking a sweat.
			</p>
			<!-- TODO: style these imgs to look like the uncommented screenshot? -->
			<!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                <img src="/assets/spoke-campaigns.png" />
                <img src="/assets/spoke-texter.png" />
              </div> -->
			<img src='/assets/sample-spoke-overlay.png' />
			<div id='features'></div>
			<h2 class='text-[#232656] font-bold'>Features</h2>
			<p class='text-[#232656]'>
				Spoke is built to handle the boring stuff, so that you can spend your
				time on meaningful conversations with supporters. Here are some of the
				features that make it the best tool for the job:
			</p>
			<div class='relative overflow-hidden w-full max-w-5xl mx-auto mb-12'>
				<div class='grid md:grid-cols-3 gap-8'>
					<div
						class='bg-[#959AF6] bg-opacity-20 rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-4 lg:p-6 xl:p-6 md:sticky md:top-10 overflow-hidden'
					>
						<h3 class='font-bold mb-3'>Delegate Conversations</h3>
						<aside>
							Spoke automates tedious tasks so that organizers can focus on
							organizing:
						</aside>
						<ul class='list-disc text-xl space-y-2 mt-6'>
							<li>Bulk Send Initial Messages</li>
							<li>Auto Assign Replies</li>
							<li>Opt Out Keywords</li>
						</ul>
					</div>
					<div
						class='bg-[#959AF6] bg-opacity-20 rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-4 lg:p-6 xl:p-6 md:sticky md:top-10 overflow-hidden'
					>
						<h3 class='font-bold mb-3'>Workflow Management</h3>
						<aside class='mb-6'>
							Spoke allows you to perform common admin workflows in just a few
							clicks:
						</aside>
						<ul class='list-disc text-xl space-y-2 mt-6'>
							<li>Second Pass Marking</li>
							<li>Contact Overlap Management</li>
							<li>Bulk Script <br /> Editor</li>
						</ul>
					</div>
					<div
						class='bg-[#959AF6] bg-opacity-20 rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-4 lg:p-6 xl:p-6 md:sticky md:top-10 overflow-hidden'
					>
						<h3 class='font-bold mb-3'>Organize Your Way</h3>
						<aside>
							Spoke features to help you configure your instance for your team's
							specific needs:
						</aside>
						<ul class='list-disc text-xl space-y-2 mt-5'>
							<li>VAN Data Integration</li>
							<li>A/B Script Versions</li>
							<li>Team Level Assignments</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id='pricing' class='mt-16'>
			<h2 class='text-[#232656] font-bold'>Pricing</h2>
			<p class='text-[#232656]'>
				We offer the lowest texting rates in the industry, with a commitment to
				providing the most effective outreach for clients trying to do good. Get
				in touch with us at
				<a href='mailto:hello@withtheranks.com'>hello@withtheranks.com</a> and ask
				us about our volume-based discounts if you're interested in even lower rates!
			</p>

			<div class='flex justify-center'>
				<div
					class='bg-[#959AF6] bg-opacity-20 rounded-2xl sm:rounded-3xl lg:rounded-[32px] p-4 lg:p-6 xl:p-6 md:sticky md:top-10 overflow-hidden md:col-span-1'
				>
					<!-- TODO: add some tool tips for jargon? -->
					<h3 class='font-bold mb-3'>Rates</h3>
					<h3 class='font-bold mb-0'>
						<mark>1.25¢</mark> / outbound SMS segment
					</h3>
					<hr class='border-[#959AF6] border-t-2 opacity-20 my-3' />
					<h3 class='font-bold mb-0'>
						<mark>3¢</mark> / outbound MMS message
					</h3>
					<hr class='border-[#959AF6] border-t-2 opacity-20 my-3' />
					<h3 class='font-bold mb-0'>0.25¢ / contact validated (optional)</h3>
				</div>
			</div>
			<p class='text-[#232656] mt-16'>
				Those are the only 3 charges that'll appear on a standard invoice you
				get from us! No worrying about charges for inbound messages, 10DLC
				registration, or technical support from our team!
			</p>
			<p class='text-[#232656] text-xs'>
				*Some clients may be interested in optional features such as read
				replica database access, or Spoke team integration with a Slack
				workspace. These are "add-ons" that have a small monthly fee, and
				clients can opt in or out of them at any time.
			</p>
		</div>
		<div id="signup">
			<InquiryForm initialInquiryType="spoke-services" removeTopMargin client:load />
		</div>
	</div>
</ContentLayout>
