---

export interface Props {
    id: string;
    text: string;
    link?: string;
    class?: string;
}

const { text, link, id, class: customClass } = Astro.props;
---

<a class={`button rounded-2xl ${customClass}`} href={link} id={id}>{text}</a>

<style>
    .button {
        text-decoration: none;
        background: linear-gradient(
            to bottom right,
            var(--stop-two-color),
            var(--stop-two-color)
        );
        font-weight: bold;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        text-align: center;
        transition: 0.25s;
        width: auto;        
        &:hover {
            background: linear-gradient(to bottom right, var(--stop-one-color), var(--stop-two-color));
            cursor: pointer;
        }
    }
</style>
