<nav
    class="max-w-screen-2xl w-10/12 mx-auto pt-10 animate__animated animate__fadeIn animate__delay-2s"
>
    <div class="flex justify-end">
        <!-- <ul class="flex">
            <li class="inline-block">
                <a href="/">Home</a>
            </li>
            <li class="inline-block"><a href="/work">Our Work</a></li>
            <li class="inline-block"><a href="/blog">Blog</a></li>
        </ul> -->
        <button id="theme-toggle" class="theme-toggle-button">
            <i class="fas fa-moon"></i>
            <!-- Default icon -->
        </button>
    </div>
</nav>
