---
import Icon from "../components/Icon.astro";
---
<!-- Header -->
<header
	class='container mx-auto px-6 sm:px-8 lg:px-12 py-6 sm:py-8 flex items-center justify-between'
>
	<div>
		<a href ='/'>
			<img
				src='https://hebbkx1anhila5yf.public.blob.vercel-storage.com/Logo-vJF5V6kpkDP2BKaHvY50ICONGodLFm.png'
				alt='With the Ranks'
				width='160'
				height='60'
				class='w-32 sm:w-40 lg:w-[160px] light-logo'
			/>
		</a>
		<a href ='/'>
			<img
				src='https://16f7z77xpz.ufs.sh/f/jIPuATEnymTtuY7ZfJ10yUCBQh6fS1NG3dsYTxXrcHz8k759'
				alt='With the Ranks'
				width='160'
				height='60'
				class='w-32 sm:w-40 lg:w-[160px] dark-logo'
			/>
		</a>
	</div>

	<!-- Mobile Menu Button -->
	<button class='md:hidden p-2'>
		<svg
			class='w-6 h-6'
			fill='none'
			stroke='currentColor'
			stroke-width='2'
			viewBox='0 0 24 24'
			xmlns='http://www.w3.org/2000/svg'
		>
			<path
				stroke-linecap='round'
				stroke-linejoin='round'
				d='M4 6h16M4 12h16m-7 6h7'></path>
		</svg>
	</button>

	<nav class='hidden md:flex items-center space-x-6 lg:space-x-12'>
		<a
			href='/about'
			class='flex items-center gap-2 lg:gap-3 text-sm lg:text-base'
			>
			<Icon name="users" />
			About Us
		</a>
		<a
			href='/our-work'
			class='flex items-center gap-2 lg:gap-3 text-sm lg:text-base'
		>
			<Icon name="work" />
			Our Work
		</a>
		<a
			href='/careers'
			class='flex items-center gap-2 lg:gap-3 text-sm lg:text-base'
		>
			<Icon name="careers" />
			Careers
		</a>
		<a
			href='#'
			class='flex items-center gap-2 lg:gap-3 text-sm lg:text-base'
		>
			<Icon name="support" />
			Support
		</a>
	</nav>

	<a
		href='#contact'
		class='hidden md:block bg-[#747aff] hover:bg-[#646add] no-underline px-6 lg:px-8 py-2.5 lg:py-3 rounded-full text-sm lg:text-base font-medium transition-colors'
	>
		CONTACT US
	</a>
</header>
