---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Send Texts</h2>

			<p>
				After you have <a
					href="https://docs.spokerewired.com/article/41-request-texts-for-assignment"
					target="_blank">requested</a
				> and received an assignment, you can begin texting contacts.
			</p><h2>Sending Initial Messages</h2><h5>
				<em>To send your initial messages:</em>
			</h5><ol>
				<li>
					Open the texter <a
						href="https://docs.spokerewired.com/article/52-dashboards"
						target="_blank">dashboard</a
					>.
				</li>
				<li>Click <strong>Send First Texts</strong>.</li>
				<li>
					Click <strong>Send</strong>until you run out of initial
					messages.<br />
					<br />

					<blockquote>
						Note: You cannot edit the initial message.
					</blockquote>
				</li>
			</ol><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/6000fabdcfe30d219ccd80ed/file-HLpARWTSup.png"
					alt=""
					style="display: block; margin: auto;"
				/>
			</p><p>
				Following these steps will take the conversations out of your
				workflow. When contacts begin responding, the conversations will
				reappear under the <strong style="background-color: initial;"
					>Send Replies</strong
				> category.
			</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/6000fb9cb9a8501b295d0bc4/file-eyD56vtF6x.png"
					alt=""
					style="display: block; margin: auto;"
				/>
			</p><h2>Sending Replies</h2><h5>
				<em
					>To send replies to contacts who have responded to an
					initial message:</em
				>
			</h5><ol>
				<li>
					Open the texter <a
						href="https://docs.spokerewired.com/article/52-dashboards"
						target="_blank">dashboard</a
					>.
				</li>
				<li>Click<strong> Send Replies</strong>.<strong></strong></li>
				<li>
					Answer the survey question by clicking below <strong
						>Current Question</strong
					> and selecting a survey option. This will automatically populate
					a prepared response.
				</li>
				<li>
					<em>Optional</em> – Edit the message as needed. We recommend
					using the response that your Spoke administrators have carefully
					crafted for you. Think about personalizing the message if the
					contact asked a direct question or shared something personal
					with you.
				</li>
				<li>Click <strong>Send</strong>.</li>
			</ol><p>
				Handling replies will take those conversations out of your
				workflow, but they'll remain visible on your dashboard as <strong
					>Past Messages</strong
				>.
			</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/6000fdd02e764327f87bef53/file-sct50issiZ.png"
					alt=""
					style="display: block; margin: auto;"
				/>
			</p><p>
				This is the standard procedure for sending replies. However, in
				certain cases, you might need to add a tag, opt out a contact,
				escalate a conversation, use a canned response, or close the
				conversation. Please see the <strong>Related Articles</strong
				>&nbsp;below to learn more about these topics.
			</p>
		</div>
	</main>
</Layout>
