---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col px-20">
			<h2 class="text-center">10DLC Compliance</h2>
			<p>
				All organizations sending messages with Spoke must register for
				10DLC. Carriers may levy the following types of fees for
				non-compliance with 10DLC messaging requirements:
			</p>
			<p><strong>Content Violation</strong></p>
			<p>
				T-Mobile may charge a $10,000 fee for 
				<strong>each unique instance</strong> of content violation by a
				sender. Content violations are usually SHAFT violations (Sex,
				Hate, Alcohol, Firearms, Tobacco) but would also include spam
				messages or phishing attempts. We are not especially worried
				about this type of content being sent by the customers we have
				chosen to work with, however, it is very important that all
				texting program directors familiarize themselves with these
				violation types!
			</p>
			<p><strong>Message Routing</strong></p>
			<p>
				Additional fees are assessed for message routing violations on
				the network. It is believed that these fees will not impact you
				as a customer.
			</p>
			<p>
				If, however, we find that you have intentionally circumvented
				the safeguards built into our software, and incurred any fees as
				a result of such action, we will pass on any message routing
				non-compliance fees.
			</p>
		</div>
	</main>
</Layout>
