---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">About Spoke Rewired</h2>

			<p>
				Spoke Rewired is a political messaging application designed for
				sending mass-scale peer-to-peer text messages to volunteers and
				voters. Through the application, you can organize texting
				<a
					href="https://docs.spokerewired.com/article/25-campaigns"
					target="_blank">campaigns</a
				>, which provide the structure and tools needed to connect <a
					href="https://docs.spokerewired.com/article/32-user-roles"
					target="_blank">texters</a
				> in your organization with your organization's contacts. Spoke is
				meant to be used in combination with a CRM. Spoke is not a CRM and
				should not be used as one.
			</p><h5><em>Some of Spoke's key features include:</em></h5><ul>
				<li>Messaging platform with script and survey integration</li>
				<li>Interaction script and survey editing</li>
				<li>Automatic and manual conversation assignment</li>
				<li>Automatic handling and processing of your contact lists</li>
				<li>Opt-out handling</li>
			</ul><p>
				To begin learning about Spoke Rewired, see
				<a
					href="https://docs.spokerewired.com/article/23-how-to-use-documentation"
					>How to Use this Documentation</a
				> or search for a topic on the <a
					href="https://docs.spokerewired.com/">homepage</a
				>.
			</p>
		</div>
	</main>
</Layout>
