---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col px-20">
			<h2 class="text-center">Auto Assignment</h2>
			<p>
				You can utilize
				<strong>auto assignment</strong> to easily and automatically distribute
				texting assignments to your texters, without needing to manually
				divide texts or replenish assignments when texters run out of messages.
				This keeps texts flowing to texters who are able to send more messages
				without overburdening administrators with tedious assignment and
				reassignment tasks.
			</p>
			<p>
				There are three steps to set up auto assignment for a campaign:
			</p>
			<p>
				<strong>1. Enable Auto Assignment: </strong>
				Click on the <strong>Autoassign Mode</strong> tab at the bottom of
				your campaign settings page, then toggle the top switch to enable
				autoassign.
			</p>
			<img
				src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5fc9400b4664bd7a123ea853/file-FVKPtDqJ8t.png"
				alt="The autoassign section is a tab at the bottom of the campaign settings page. When autoassign is turned on, the top switch in this section will be green."
			/>
			<blockquote class="pt-4 pb-8">
				<strong>Note:</strong> Toggling the bottom switch will automatically
				release unhandled replies to the
				<a
					href="https://withtheranks.com/docs/spoke/for-spoke-admins/request-form"
				>
					request form</a
				> after a pre-set period of time (for example, 30 minutes). This
				can be a helpful feature down the road, but if you're just learning
				how to manage auto assignment, we recommend keeping if toggled off.
			</blockquote>
			<p>
				<strong>2. Turn on the Request Form: </strong>
				Click <a
					href="https://withtheranks.com/docs/spoke/for-spoke-admins/manage-assignment-control"
					target="_blank"><strong>Assignment Control</strong></a
				>
				on the administration <a
					href="https://withtheranks.com/docs/spoke/for-spoke-admins/dashboards"
					target="_blank">dashboard</a
				>, then toggle the switch to enable assignment. Set the
				assignment type (initials or replies) and the maximum number of
				messages a texter can request per assignment. This will activate
				the <a
					href="https://withtheranks.com/docs/spoke/for-spoke-admins/request-form"
					target="_blank">request form</a
				> for your texters, allowing them to request assignments.
			</p>
			<img
				src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5fca9443eb7cc612aa3550b2/file-WvTtjrLqjX.png"
				alt=""
				style="display: block; margin: auto;"
			/>
			<p class="pt-8">
				<strong>3. Set Up </strong><strong>Auto-Approval: </strong>Click <strong
					>Settings</strong
				> on the administration dashboard, then select <strong
					>Auto Approve</strong
				> beneath "Default Text Request Auto-Approval Level." This will make
				it so that when texters request an assignment via the request form,
				that assignment is automatically approved in a matter of seconds.
				If you wish to have administrators or <a
					href="https://docs.spokerewired.com/article/6-user-roles"
					target="_blank">Supervolunteers</a
				> manually approve requests, you can set this option to
				<strong>Approval Required</strong>. We recommend using Auto
				Approve in most cases.
			</p>
			<blockquote class="pb-4">
				<strong>Note:</strong> You only need to set Auto Approve as your
				default setting once. Once set, all future texters invited to your
				organization will be set to have their assignments automatically
				approved. However, changing the default setting does not change the
				auto-approval level of texters already in your organization. You
				can change this setting on an individual basis by going to the
				<strong>People </strong>window within the administration <a
					href="https://docs.spokerewired.com/article/52-dashboards"
					target="_blank">dashboard</a
				>.
			</blockquote>
			<img
				src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5fc6a179d580ce55a38b3410/file-jKIfkJUxR2.png"
				alt=`The "Default Text Request Auto-Approval Level" setting is in the General settings section which is marked by a gear symbol.`
				style="display: block; margin: auto;"
			/>
		</div>
	</main>
</Layout>
