---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Campaigns</h2>

			<p>
				Campaigns are the central feature of Spoke. They provide the
				structure and tools for <a
					href="https://docs.spokerewired.com/article/6-user-roles"
					target="_blank">texters</a
				> to engage in conversations with your contacts.
			</p><p>
				Each campaign has a contact list and an <a href=""
					>interaction script</a
				>. When you start a campaign, contacts are assigned to texters,
				who can then initiate a conversation using the interaction
				script.&nbsp;
			</p><p>
				A campaign should have a clear and specific purpose, for
				example, asking contacts to attend an event or identifying their
				level of support for a candidate. This will allow you to
				communicate clearly with your contacts and for texters to
				collect consistent data based on how contacts reply.
			</p><p>
				You can run multiple campaigns simultaneously to reach different
				contacts about different things.
			</p><p>
				If you are a Spoke administrator, you can manage campaigns from
				the administration <a
					href="https://docs.spokerewired.com/article/52-dashboards"
					target="_blank">dashboard</a
				>.
			</p>
		</div>
	</main>
</Layout>
