---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Canned Responses</h2>

			<p>
				Canned responses are an additional set of prepared messages that
				texters can use if a conversation deviates from the interaction
				script. They're typically added to prepare texters to answer
				common questions, for example,"How did you get my number?" or
				"Will the livestream be recorded?"
			</p><h5><em>To add canned responses to a campaign:</em></h5><ol>
				<li>
					Select the&nbsp;<strong>Canned Responses&nbsp;</strong
					>window within the campaigns settings page.
				</li><li>Click <strong>Add New Canned Response.</strong></li><li
				>
					Input a <strong>Title</strong> for your canned response.
				</li><li>
					Write a <strong>Script</strong> for your canned response and
					click <strong>Done</strong>.
				</li><li>Click <strong>Add Response</strong>.</li><li>
					Repeat steps 2-5 to create additional canned responses.
				</li><li>Click <strong>Save</strong>.</li>
			</ol><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/601c91b31f25b9041bebbb72/file-L5cBRPzYFa.png"
				/>
			</p><blockquote>
				Note: Canned responses do not log survey data. If you want to
				log data associated with a canned response script, it would be
				better to incorporate that script as a survey option or tag.<br
				/>
			</blockquote>
		</div>
	</main>
</Layout>
