---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Contact Overlap Management</h2>

			<p>
				When you <a
					href="https://docs.spokerewired.com/article/64-contact-lists"
					target="_blank">upload a contact list</a
				> to a new campaign, Spoke automatically detects overlapping contacts
				with previous campaigns. <strong
					>Contact Overlap Management</strong
				> allows you to review and delete these overlapping contacts so that
				you can avoid&nbsp;interrupting existing conversations and not over-text
				your contacts.&nbsp;Typically, it's best to delete overlapping contacts
				from recent campaigns.
			</p><p>
				For each previous campaign listed in the&nbsp;Contact Overlap
				Management window, you'll see:
			</p><ul>
				<li>
					<strong>Overlap Count:</strong>&nbsp;the number of
					overlapping contacts between the previous campaign and new
					campaign
				</li>

				<li>
					<strong>ID:</strong>&nbsp;the ID number of the previous
					campaign
				</li>

				<li>
					<strong>Last Message:</strong>&nbsp;the last time at least
					one overlapping contact was messaged&nbsp;
				</li>

				<li>
					<strong>Title:&nbsp;</strong>the name of the previous
					campaign
				</li>
			</ul><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/601c858d1f25b9041bebbb40/file-Ps0feQyFOu.png"
				/>
			</p><h5>
				<em>To identify and delete overlapping contacts:</em>
			</h5><ol>
				<li>
					Select the&nbsp;<strong>Contact Overlap Management</strong> window
					within the campaigns settings page.
				</li>

				<li>
					Review the campaigns that have overlapping contacts with the
					new campaign.
				</li>

				<li>
					Click the checkboxes that correspond to the rows of
					overlapping contacts you wish to delete.
				</li>

				<li>Click <strong>Delete Selected</strong>.</li>
			</ol><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/601c8627ac2f834ec538594d/file-JyAoBdI2k4.png"
				/>
			</p><blockquote>
				Note: Different campaigns may text contacts from the same
				number, which means that from the contact's perspective, the two
				conversation will be taking place in the same text thread. This
				can be confusing and undermine the efficacy of both campaigns,
				which is why it's a very good idea to delete overlapping
				contacts from recent campaigns.
				<br />
			</blockquote>
		</div>
	</main>
</Layout>
