---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Export Data From A Campaign</h2>

			<p>
				Every campaign has two sets of data associated with it: campaign
				data and message data.
			</p><ol>
				<li>
					Export
					<strong style="background-color: initial;"
						>campaign data</strong
					> to access&nbsp;your updated contact list, complete with their
					conversation statuses and survey responses. Every row will be
					a contact.
				</li>
				<li>
					Export <strong style="background-color: initial;"
						>message data</strong
					> to get a breakdown of every message that was sent or received,
					including whether or not it was successfully delivered. Every
					row will be a message.
				</li>
			</ol><h5><em>To export data from a campaign:</em></h5><ol>
				<li>
					Open a campaign from the <strong>Campaigns</strong> page<br
					/>
					<br />

					<blockquote>
						Note: If the campaign has not started, the campaign
						settings page opens. To open the campaign page, remove
						"edit" from the URL.
					</blockquote>
				</li>
				<li>
					Click <strong>Export Data</strong>. This starts the export
					process.
				</li>
				<li>
					Open your email, and wait for a message from Spoke Rewired.
					Exporting campaign data can take a long time, depending on
					the amount of data. Check your spam folder if you haven't
					received an email in a reasonable amount of time.
				</li>
				<li>
					Click the first link to download the <strong
						>campaign data</strong
					>.
				</li>
				<li>
					Click the second link to download the <strong
						>message data</strong
					>.
				</li>
			</ol>
		</div>
	</main>
</Layout>
