---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Invite Texters To Spoke</h2>

			<p>
				You can invite new texters to join your organization on Spoke by
				sending them an invitation link. When someone clicks on the
				link, they'll be prompted to create a new texter account. After
				a texter creates their account, you can <a
					href="https://docs.spokerewired.com/article/35-change-user-roles"
					target="_blank">change their user role</a
				> as needed.
			</p><h5>
				<em>To invite texters to join your organization:</em>
			</h5><ol>
				<li>
					From the administration <a
						href="https://docs.spokerewired.com/article/52-dashboards"
						target="_blank">dashboard</a
					>, navigate to the <strong>People</strong> page.
				</li>
				<li>
					Click the green&nbsp;<strong>plus (+)</strong><strong
						>&nbsp;</strong
					>button in the bottom right-hand corner.
				</li>
				<li>Copy the URL.</li>
				<li>
					Share the URL with the texter(s) you want to invite. When
					someone clicks on the link, they will be able to create an
					account.
				</li>
			</ol><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/601d9cb0ac2f834ec5385f0f/file-aT0Ya55Vvl.png"
				/>
			</p><blockquote>
				Note: This URL is unique to your Spoke
				<a
					href="https://docs.spokerewired.com/article/79-organizations"
					target="_blank">organization</a
				>. It will now allow texters to join other organizations and
				texters already from another organization will not be able to
				join yours unless they're given the unique link.
			</blockquote>
		</div>
	</main>
</Layout>
