---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Manage Assignment Control</h2>

			<p>
				The <strong>Assignment Control</strong> page on the administration
				dashboard allows you to manage the <a
					href="https://docs.spokerewired.com/article/110-request-form"
					target="_blank">request form</a
				> that distributes texting <a
					href="https://docs.spokerewired.com/article/33-text-assignment"
					target="_blank">assignments</a
				> to you texters. Assignment controls can be applied to all of your
				texters via the "General" designation, or to specific teams of texters.
			</p><p>There are three primary assignment controls:</p><p>
				<strong>1. Enable Assignment:</strong>Toggling the "Enable
				assignment?" switch will make assignments available to texters
				via the request form from any active campaigns that have <a
					href="https://docs.spokerewired.com/article/110-request-form"
					target="_blank">autoassign</a
				> enabled.&nbsp;
			</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5fca9443eb7cc612aa3550b2/file-WvTtjrLqjX.png"
				/><strong style="background-color: initial;"
					>2. Assignment Type:
				</strong>This allows you to choose whether you want to release
				unsent initial messages or unhandled replies to the request
				form.&nbsp;
			</p><ul>
				<li>
					<em style="background-color: initial;"
						>Unsent Initial Messages:&nbsp;</em
					>conversations where the contact has not yet received an
					initial message.
				</li>
				<li>
					<em style="background-color: initial;"
						>Unhandled Replies:</em
					>&nbsp;Conversations where the the contact has responded to
					a message and is awaiting a reply.&nbsp;
				</li>
			</ul><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5fca9456eb7cc612aa3550b3/file-aERtmsOutQ.png"
				/><strong style="background-color: initial;"
					>3. Max to Request at Once:
				</strong>This allows you to set the maximum number of
				conversations that a texter can request per assignment.
			</p><ul>
				<li>
					<em style="background-color: initial;"
						>Unsent Initial Messages:
					</em>We typically recommend setting your max limit for
					initial messages between <strong
						style="background-color: initial;">100-1000</strong
					>. It's safer to start smaller so new texters are not
					overwhelmed by replies, though most will find assignments of
					500+ messages to be manageable.
				</li>
				<li>
					<em>Unhandled Replies:&nbsp;</em>We typically recommend
					setting your max limit for unhandled replies&nbsp;between <strong
						style="background-color: initial;">10-30</strong
					>. Setting small maximum limits for replies will encourage
					texters to take their time, apply accurate survey responses,
					and customize scripts, while large max limits may encourage
					more rushed and robotic responses.
				</li>
			</ul><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5fca9548eb7cc612aa3550bd/file-mozigPavCz.png"
				/>
			</p><p>
				The final setting you'll see in Assignment Control is for <strong
					style="background-color: initial;"
					>custom escalation tags</strong
				>. Adding custom escalation tags to a specific team enables
				texters who are part of that team to apply those custom tags
				while texting. For more information, please read about <a
					href="https://docs.spokerewired.com/article/67-conversation-tags"
					target="_blank">conversation tags</a
				>
			</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5fca93b9de1bfa158fb558c1/file-Zz2d9kUxb3.png"
				/>
			</p>
		</div>
	</main>
</Layout>
