---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Message Review</h2>

			<p>
				The Message Review page of your administration <a
					href="https://docs.spokerewired.com/article/52-dashboards"
					target="_blank">dashboard</a
				> allows you to filter through your organization's conversations,
				as well as reassign or unassign conversations that you've selected.
			</p><h2>Message Filter</h2><p>
				Within the Message Review page, click open the <strong
					>Message Filter</strong
				> window. You can then use the available filtering criteria to find
				and review specific conversations. Once you select your filtering
				criteria, a list of conversations will automatically generate based
				on that selection. As you update your criteria, the list will also
				update in real time.
			</p><blockquote>
				Note: Try and start with criteria selections that will narrow
				the breadth of your search so that the system doesn't get
				stalled trying to generate an unwieldy list. For example,
				filtering by campaign or texter is often a good place to start.
			</blockquote><h4>Filtering Criteria - Toggles</h4><p>
				There are numerous toggles you can switch ON or OFF to help
				filter conversations.
			</p><ul>
				<li>
					<strong>Active Campaigns:</strong> select whether or not you
					want to display conversations from active campaigns.
				</li>
				<li>
					<strong>Archived Campaigns:</strong>&nbsp;select whether or
					not you want to display conversations from
					archived&nbsp;campaigns.

					<ul>
						<li>
							<em
								>The default position is OFF, so that you'll
								only be looking at conversations from active
								campaigns. You may need to turn this ON if you
								want to review conversations from older
								campaigns.</em
							>
						</li>
					</ul>
				</li>
				<li>
					<strong>Not Opted Out:</strong>&nbsp;select whether or not
					you want to display conversations from contacts who have not
					opted out.
				</li>
				<li>
					<strong>Opted Out:</strong>&nbsp;select whether or not you
					want to display conversations from contacts who have opted
					out.&nbsp;

					<ul>
						<li>
							<em
								>The default position is OFF, so that you'll
								only be looking at conversations with contacts
								who are still opted in. This can be helpful to
								toggle ON if you're looking to make sure your
								texters are not incorrectly opting people out.</em
							>
						</li>
					</ul>
				</li>
				<li>
					<strong>Include Escalated:</strong>&nbsp;select whether or
					not you want to display escalated conversations.

					<ul>
						<li>
							<em
								>The default position is ON. Make sure to turn
								it OFF if you're going to be bulk reassigning or
								unassigning conversations, so that you don't
								mistakenly remove escalated conversations from
								the escalated convos workflow.</em
							>
						</li>
					</ul>
				</li>
			</ul><h4>Filtering Criteria - Fields</h4><p>
				There are also a number of drop-down and search fields you can
				use to filter conversations.
			</p><ul>
				<li>
					<strong>Contact Message Status:</strong>decide which
					conversations to review based on the status of those
					conversations. One or multiple of the following statuses may
					be selected:

					<ul>
						<li><em>All</em>– Conversations of all statuses.</li>
						<li>
							<em>Needs Texter Response</em> – Conversations where
							the contact has replied but not yet received a response
							from a texter.
						</li>
						<li>
							<em>Needs First Message</em> – Conversations where the
							contact has not yet received the initial message.
						</li>
						<li>
							<em>Active Conversations</em> – Conversations where the
							the contact has replied and the texter has responded.
						</li>
						<li>
							<em>First Message Sent</em>– Conversations where the
							initial message has been sent but the contact has
							not replied.
						</li>
						<li>
							<em>Closed</em>– Conversations where the texter has
							selected <a
								href="https://docs.spokerewired.com/article/80-skip-a-reply"
								target="_blank">Close</a
							>, effectively closing the conversation.
						</li>
					</ul>
				</li>
				<li>
					<strong>Campaign:</strong>filter conversations by campaign
					name or ID number. This is often the first step when
					searching for specific conversations.
				</li>
				<li>
					<strong>Texter:</strong> filter conversations by texter name.
					This if usually the first step when searching for conversations
					in a specific texter's workflow.
				</li>
				<li>
					<strong>Filter by Contact Name:</strong>filter conversations
					based on the name of the contact being texted.
				</li>
				<li>
					<strong>Filter by Contact Tags:</strong> filter conversations
					based on tags that have been applied to those conversations.
				</li>
			</ul><h2>Message Actions</h2><p>
				Once you've generated a filtered list of conversations, you're
				then able to perform actions on one, several, or all of those
				filtered conversations. There are two available actions:
			</p><h4>Reassign</h4><p>
				Reassigning conversations removes them from their current
				texter's workflow and places them in a new texter's
				workflow.&nbsp;
			</p><h5><em>To reassign conversations:</em></h5><ol>
				<li>
					Use <strong>Message Filter</strong>to generate a filtered
					list.&nbsp;
				</li>
				<li>
					Click <strong>Message Actions</strong>,&nbsp;then select <strong
						>Reassign</strong
					>.
				</li>
				<li>
					Click the <strong>Select at least one texter</strong>field
					and pick one or more texters to receive the reassigned
					texts. If you select multiple texters, the reassigned
					messages will be evenly split between them.
				</li>
				<li>
					Select one or more conversations to reassign using the
					checkboxes, then click<strong
						>&nbsp;Reassign Selected</strong
					>. Or, if you want to reassign the entire filtered list,
					click&nbsp;<strong>Reassign All x Matching</strong
					>,&nbsp;then select <strong>Reassign</strong>.
				</li>
			</ol><h4>Unassign</h4><p>
				Unassigning conversations removes them from their current
				texter's workflow and places them in the pool of texts available
				for assignment via the <a
					href="https://docs.spokerewired.com/article/110-request-form"
					target="_blank">request form</a
				>.
			</p><h5><em>To unassign conversations:</em></h5><ol>
				<li>
					Use&nbsp;<strong>Message Filter</strong>&nbsp;to generate a
					filtered list.&nbsp;
				</li>
				<li>
					Click&nbsp;<strong>Message Actions</strong>,&nbsp;then
					select <strong>Unassign</strong>.
				</li>
				<li>
					Select one or more conversations to unassign using the
					checkboxes, then click <strong>Unaassign Selected</strong>.
					Or, if you want to unassign the entire filtered list, click <strong
						>Unassign All x Matching</strong
					>,&nbsp;then select <strong>Unassign</strong>.&nbsp;
				</li>
			</ol><blockquote>
				Note: Once you generate a filtered list, you can review
				individual conversations by clicking the box below the
				<strong>View Conversation</strong>&nbsp;column. From that view,
				you can see all messages that have been exchanged and all survey
				answers that have been selected for that conversation. You are
				also able to send additional messages, edit survey answers,
				manage tags, and opt out or un-opt out contacts. You can toggle
				to other conversations in your list using the navigation left
				(&lt;) and right (&gt;) arrows.
			</blockquote>
		</div>
	</main>
</Layout>
