---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Running A Second Pass</h2>

			<p>
				<a
					href="https://drive.google.com/file/d/1r7TgIOLTZWTMkUsF-KCy7-nCuAyqYeQ-/view"
					target="_blank"
					style="font-family: inherit; font-size: 21px; font-weight: 700;"
					>Second Pass 101: Watch this short demonstration video.</a
				>
			</p><p>
				<a
					href="https://drive.google.com/file/d/1r7TgIOLTZWTMkUsF-KCy7-nCuAyqYeQ-/view"
					target="_blank"></a>Running a <strong
					style="background-color: initial; font-size: 14px;"
					>second pass</strong
				>&nbsp;is a great way to politely bump your initial message to
				non-responsive contacts. Done well, second passes see high
				response rates, save you time, and maintain the integrity of
				your data.
			</p><p>To run a second pass:</p><p>
				1. Confirm that all initial messages have been sent. This can be
				done from <strong>Message Review</strong> by filtering for the campaign
				name and <em>Contact message status: Needs First Message</em>.
			</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5f47f529042863444aa0ead7/file-klReBqCyzU.png"
				/>
			</p><p>
				If you want to run a second pass but have outstanding initials,
				you can quickly assign and send them without worry that those
				contacts will be "bumped" on the second pass.&nbsp;<br />
				<br />
				If you were to run a second pass <em>without</em> ensuring that all
				initials had been sent, the first message those outstanding contacts
				would receive would be your bump message! You should either confirm
				that all first pass initials have been sent or delete unmessaged
				contacts before moving to step 2.
			</p><p>
				2. From the <strong>Basics</strong> tab of the campaign settings
				page, update the title of your campaign to indicate that you're running
				a second pass. This could entail adding <em>P2</em>or <em
					>Pass 2</em
				>&nbsp;to your campaign title, or swapping one of those out for <em
					>P1
				</em>or <em
					>Pass 1.&nbsp;<br />
					<br />
				</em>For example, your campaign may initial be titled <em
					>Phonebank_P1_8.26.20
				</em>and swapped to&nbsp;<em>Phonebank_P2_8.26.20</em>before
				running a second pass.<br />
				<br />
				From the&nbsp;<strong>Interactions</strong> tab of the campaign settings
				page, replace your initial message with second pass language.&nbsp;Best
				practices when crafting a second pass initial include removing <em
					>&lcub;&rcub;<em>texterFirstName</em></em
				>&nbsp;and both shortening and reiterating your previous
				message.&nbsp;<br />
				<br />
				For example, for an initial message that read <em
					>"Hi &lcub;firstName&rcub;, it's &lcub;texterFirstName&rcub;
					with CANDIDATE! Election Day is one week away and it's all
					hands on deck to get CANDIDATE elected. Will you join us for
					a phonebank on DAY at TIME and help us reach every voter in
					DISTRICT?"
				</em>you may consider a second pass like, <em
					>"Hi &lcub;firstName&rcub;, just wanted to make sure you saw
					our first message! Can you join Team CANDIDATE for a
					phonebank on DAY at TIME?"</em
				>
			</p><p>
				3. From the <strong>Campaigns</strong> page of the administration
				<a
					href="https://docs.spokerewired.com/article/52-dashboards"
					target="_blank">dashboard</a
				>, select the three dots to the right of the campaign name.
			</p><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5f47fae42c7d3a352e91743f/file-x3j10E3Oxt.png"
				/>
			</p><p>
				Choose <strong>Mark for a Second Pass</strong>&nbsp;from the
				pop-up menu.
			</p><p style="text-align: center;">
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5f47fb102c7d3a352e917446/file-oyvujabrQc.png"
					style="width: 40%;"
				/>
			</p><p>
				2. Determine a window of time to mark previously-messaged
				contacts. You can indicate both a number of days and a number of
				hours that have passed since a contact has last been messaged.
				It is a best practice to mark for a second pass when a contact
				has been messaged 16 hours ago or later; this gives contacts
				enough time to see and respond to your message and prevents
				oversaturation. If you choose to toggle off "exclude recently
				texted contacts," all contacts who have not yet responded will
				be marked for a second pass.
			</p><p style="text-align: center;">
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5f47fdc32c7d3a352e917482/file-tcsfnEJiGw.png"
					style="width: 80%;"
				/>
			</p><p>
				3. Determine if you'd like to exclude contacts who are present
				on a newer campaign, regardless of whether or not they have
				received a message yet. Toggling off "exclude contacts uploaded
				on a newer campaign" will mark all contacts who have not yet
				responded for a second pass, even if they are loaded on a
				campaign with a higher ID number.
			</p><p>
				4. After executing the operation, you will see the number of
				contacts that have been marked for a second pass. It is typical
				for this number to be 80-90% of your initial list size,
				depending on the window of time that you've set.&nbsp;
			</p><p style="text-align: center;">
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5f47fe95042863444aa0eb8e/file-wbLKnZl1aF.png"
					style="width: 80%;"
				/>
			</p><p>
				5. From the same three dot menu to the right of the campaign,
				use the popup menu to select <strong
					>Release Unsent Messages.</strong
				>&nbsp;Skipping this step would mean leaving newly unsent
				messages in the workflows of the original senders, therefore
				preventing you from assigning those texts from the request
				form.&nbsp;
			</p><p style="text-align: center;">
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/5f47ff452c7d3a352e9174a8/file-ZBlG8ps7Sj.png"
					style="width: 40%;"
				/>
			</p><p>
				6.&nbsp;Confirm that your campaign is on Autoassign and that the
				request form is set to Initial Messages, or manually assign the
				new initial messages in Message Review!
			</p>
		</div>
	</main>
</Layout>
