---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Sending Links</h2>

			<p>
				Sending links in your messages increases the likelihood they
				will be flagged as spam and blocked by cell carriers.
			</p><h5>
				<em
					>To minimize the chance your texts get blocked by carriers:<br
					/>
				</em>
			</h5><p>
				1. Avoid sending links in initial messages. Instead, make a
				clear and direct ask in your initial message and then include
				the link in your <strong>Yes</strong> and <strong>Maybe</strong>
				survey responses to those who express interest. This will dramatically
				lower the total number of links you are sending.
			</p><p>
				2. Use unique long links (like a candidate website, Secretary of
				State website, or a voter lookup tool) or a custom short link
				(like one created with a purchased custom domain from <a
					href="https://www.rebrandly.com/"
					target="_blank">Rebrandly</a
				>). When using a custom short link, we recommend using&nbsp;<em
					>.me</em
				> or <em>.us</em> to make a domain like&nbsp;<em>rewired.us</em>
			</p><p>
				3. Do not use links with common domains (like ActBlue, Google,
				etc.) or URLs created with&nbsp;common link shorteners (like
				bit.ly or tinyurl.com).
			</p><p>
				4. If you're planning to send the same link to large numbers of
				contacts, consider using script options and custom domains to
				rotate your links. You can read more about this feature <a
					href="https://docs.spokerewired.com/article/70-short-link-domains"
					>here</a
				>.&nbsp;
			</p>
		</div>
	</main>
</Layout>
