---
import Layout from "../../../../layouts/Layout.astro";
import "animate.css";
---

<Layout title="With the Ranks">
	<main
		class="animate__animated animate__fadeIn animate__slow py-20 md:py-40"
	>
		<div class="flex items-center flex-col">
			<h2 class="text-center">Transitioning To 10dlc</h2>

			<h1>Brand and Campaign Registration Guide</h1><p>
				Spoke Rewired fully supports sending messages with 10DLC. To
				take advantage of our lowest prices and improved deliverability,
				you should register your Spoke organization for a 10DLC brand.
			</p><p>
				We are committed to supporting you throughout the registration
				process and offer registration and ongoing 10DLC enrollment at
				no additional cost.
			</p><p>
				You can find the registration link in the Admin section of your
				Spoke Rewired instance. Navigate to Settings and click Register
				under the heading &quot;10DLC Registration Information.”
			</p><h2>Guide Summary</h2><p>
				There are two parts to completing 10DLC registration. The first
				part is for 527 political organizations only (e.g., campaign or
				PAC) and the second part is for all organizations including
				527s. If you are not a 527 political organization you can <a
					href="#10DLC-Registration-dQyXs"
					target="_blank">skip to 10DLC registration.</a
				>
			</p><ul>
				<li>
					<a
						href="#Campaign-Verify-Registration-GO_24"
						target="_blank">Campaign Verify Registration</a
					><ul><li>527 political organizations only</li></ul>
				</li><li>
					<a href="#10DLC-Registration-dQyXs" target="_blank"
						>10DLC Registration in Spoke</a
					><ul><li>For all organizations including 527s</li></ul>
				</li>
			</ul><h2 id="Campaign-Verify-Registration-GO_24">
				Campaign Verify Registration
			</h2><p>
				Verification for 527 political organizations (e.g., campaign or
				PAC) is handled by <a
					href="https://www.campaignverify.org/"
					target="_blank">Campaign Verify</a
				>. If you qualify, you should begin the registration process
				with Campaign Verify ASAP! Please note that campaigns that
				registered before November 15th, 2022, will need to resubmit
				using a new Campaign Verify Token. As per Campaign Verify:
			</p><blockquote>
				<p>
					Authorization Tokens for verification requests submitted on
					November 15, 2022 and later will be valid until January 31,
					2025.
				</p>
			</blockquote><p>
				<strong>Steps to register a 527 political organization:</strong>
			</p><ol>
				<li>
					Register with Campaign Verify by filling out the <a
						href="https://www.campaignverify.org/#signup"
						target="_blank">Campaign Verify form</a
					>.<ul>
						<li>
							Step-by-step instructions can be found on the <a
								href="https://www.campaignverify.org/our-process"
								target="_blank">Campaign Verify website here</a
							>.
						</li>
					</ul>
				</li>
			</ol><p style="text-align: center;" class="align-center">
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/64879ca8969cec658daaf7f0/file-4VE9Xx8yoZ.png"
					style="width: 100%; max-width: 100%; text-align: center;"
				/>
			</p><ol start="2">
				<li>
					Receive an Authorization Token from Campaign Verify.<ul>
						<li>
							Example token:<code class="inline-code"
								>cv|1.0|tcr|10dlc|00000000-0000-4000-0000-000000000000|abca1b2c3d4e5f6g7h8i9j0_0000000000000000000</code
							>
						</li>
					</ul>
				</li><li>
					Once you receive the Campaign Verify Authorization Token,
					continue by following the steps below to register for 10DLC
					in your Spoke instance.
				</li>
			</ol><h2 id="10DLC-Registration-dQyXs">
				10DLC Registration in Spoke
			</h2><p>
				All organizations including 527 political organizations must
				fill out this form to finish 10DLC registration. <b
					><i
						>Note: Only users with the Owner role will be able to
						complete registration.</i
					></b
				>
			</p><ol>
				<li>
					From your <a
						href="https://docs.spokerewired.com/article/52-dashboards"
						target="_blank">administration dashboard</a
					>, navigate to &quot;Settings&quot; in the left menu
				</li>
			</ol><p style="text-align: center;" class="align-center">
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/64879f041211660f0912d895/file-SFrHMa99fl.png"
					style="width: 42.1628%; max-width: 100%; text-align: center;"
				/>
			</p><ol start="2">
				<li>
					From the Settings page, click the &quot;Register&quot;
					button.
				</li>
			</ol><p style="text-align: center;" class="align-center">
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/6487a1335fc2fe6b6dc5fcd8/file-4UrQH5f5YK.png"
					style="width: 100%; max-width: 100%; text-align: center;"
				/>
			</p><ol start="3">
				<li>
					Fill out the 10DLC registration form for Rewired LLC and
					submit. Email us at <a
						href="mailto:support@politicsrewired.com"
						>support@spokerewired.com</a
					> with any questions.
				</li>
			</ol><p>
				<img
					src="https://s3.amazonaws.com/helpscout.net/docs/assets/5d4878eb2c7d3a330e3c1b86/images/6487a1da7f8c2575e3544c18/file-PK4h6HfuNf.png"
					style="width: 100%; max-width: 100%; "
				/>
			</p><ol start="4">
				<li>
					Note: Customers that signed up for our service before
					October 1st, 2021 may need to sign the newest contract if
					they have not already. We will email your account owner the
					new contract. The updated service agreement covers 10DLC
					changes, including <a
						href="https://docs.spokerewired.com/article/129-10dlc-pricing"
						target="_blank">10DLC Pricing and Compliance</a
					>. We will not register a <a
						href="https://docs.spokerewired.com/article/131-10dlc-glossary"
						target="_blank">brand</a
					> or campaign on your behalf until the updated service agreement
					has been signed and we have the required brand registration information.
				</li>
			</ol><p>
				We anticipate a 3-5 business day delay between completing the
				registration and your brand being capable of sending messages.
			</p><br /><h3>Message Limitations for Sole Proprietorships</h3><p>
				Mobile carriers limit message volume if you are a sole
				proprietor or have no legal entity. There is a max of 1,000
				outbound SMS segments and MMS daily to T-Mobile (messages
				exceeding this limit will fail).
			</p><br /><h3>Private Company Third-Party Vetting</h3><p>
				Private companies have the option to go with third-party
				commercial vetting to improve their message throughput.
			</p><h1>Campaign Information</h1><p>
				You will need to provide information explaining to carriers how
				your organization will be using SMS channels.
			</p><p>
				Our customers may register under the following standard use
				cases.
			</p><table>
				<tbody
					><tr><td> Use Case</td><td> Description</td></tr><tr
						><td> Political</td><td
							><p>
								Part of an organized effort to influence the
								decision-making of a specific group.
							</p><p>All campaigns to be verified.</p></td
						></tr
					><tr
						><td> Charity</td><td
							>501(c)(3) organizations should register campaigns
							with the Charity / 501(c)(3) special use case. Does
							not include: Religious organizations.</td
						></tr
					><tr
						><td> Emergency</td><td>
							Notification services designed to support public
							safety / health during natural disasters, armed
							conflicts, pandemics and other national or regional
							emergencies</td
						></tr
					><tr><td> Polling and voting</td><td><br /></td></tr><tr
						><td> Public Service Announcement</td><td>
							An informational message that is meant to raise the
							audience&#39;s awareness about an important issue</td
						></tr
					></tbody
				>
			</table><h3>Charity Special Use Case</h3><p>
				Verification of 501(c)(3) status is required.
			</p><br /><h3>Political Special Use Case</h3><p>
				A 10DLC campaign may be registered with the Political special
				use case. Any candidate, party, PAC, or other committee that is
				a 527 tax-exempt organization and registered with the Federal
				Elections Commission (FEC) or a State, Local, or Tribal Election
				Authority may be eligible for this special use case.
			</p><p>
				501(c)(4), 501(c)(5), and 501(c)(6) organizations sending
				messages that are political in nature should also register with
				the Political special use case.
			</p>
		</div>
	</main>
</Layout>
